@charset "UTF-8";
/* ---- main style ------------------------------------------------ */
main{
    height: 87%;
    display: flex;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

    .edit-box{
        background-color: #ece7db;
        border-radius: 10%;
        box-shadow: 5px 5px 15px;
    
        margin-left: auto;
        margin-right: auto;
    
        height: 70%;
        width: 70%;
        
    }

    .edit-form{
        height: 100%;
        width: 90%;
    }

        .title-box{
            /* background-color: red; */
            height: 5%;
            width: 80%;
        }
            .edit-title{
                font-size: large;

            }

        .info-box{
            /* background-color: blue; */
            height: 70%;
            width: 80%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            
        }
            .info{
                height: 20%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;

                font-size: small;
            }

                .useridbtn{
                    display: flex;
                }

                .useridbtn input{
                    height: 90%;
                }

            
                .checkid{
                background-color:#ffc477;
                border-radius:8px;
                border-style: none;
                color:#616161;
                padding-top: 3px;
                padding-bottom: 3px;
                font-weight:bolder;
                font-size: 15px;
    
                margin-left: 7px;
                }
    
                #id_check_sucess{
                margin-left:7px;
                width: 20px;
                height: 20px;
                }
					.checkmsg{
						color:red;
					}

                .info label{
                    color: black;
                    font-weight: bold;
                }

                .b{
                    height: 55%;
                    width: 100%;
                    
                    border-style: none;
                    border-radius: 8px;
                }

        .btn-box{
            /* background-color: green; */
            height: 10%;
            width: 80%;

        }

            .submit{
                color: rgba(0, 0, 0, 0.800);
                font-weight:bold;
                background-color: #f8d599;
            }
            .btn-box input{
                height: 100%;
                width: 49%;

                border-style: none;
                border-radius: 8px;
            }

            .out{
                color: rgb(255, 108, 108);
                font-weight: bold;
            }



