/* ---- main style ------------------------------------------------ */
main{
    height: 87%;
    display: flex;
    align-items: center;
  }
  
  .findid-box{
    background-color: #ece7db;
    border-radius: 10%;
    box-shadow: 5px 5px 15px;
  
    margin-left: auto;
    margin-right: auto;
  
    height: 331px;
    width: 60%;
      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
  }
  
    .findid-form{
      min-height: 268px; /*90%*/
      width: 80%;
    }
    
      .findid-title{
        color: rgb(114, 114, 114);
        text-align: center;
        font-weight: bold;
        font-size: large;
        margin-bottom:3%;
      }
  
      .findid-form ul{
        height: 268px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
  
        .findid-form ul .input{
          height: 70%;
          width: 100%;
          display: flex;
          flex-direction: column;

          
        }
        
        #date{
        	background-color:white;
        }

            .findid-form ul li legend{
                font-weight: bold;
                font-size: small;
            }
  
            .findid-form ul li .b{
            height: 45%;
            width: 100%;
            
            border-style: none;
            border-radius: 8px;
            }
            
          .msg{
            color: red;
            font-weight: bold;
        }

            .submit{
            	color: rgba(0, 0, 0, 0.800);
            	font-weight:bold;
            	background-color: #f8d599;
            }
        .btn{
            height: 30%;
            width: 100%;

            display: flex;
        }

        .btn input{
            height: 100%;
            width: 100%;

            border-style: none;
            border-radius: 8px;
        }
