/* ---- main style ------------------------------------------------ */
main{
  height: 87%;
  display: flex;
  align-items: center;
}

.signup-box{
  background-color: #ece7db;
  border-radius: 10%;
  box-shadow: 5px 5px 15px;

  margin-left: auto;
  margin-right: auto;

  height: 390px;
  width: 70%;
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}

  .signup-form{
    min-height: 90%;
    width: 80%;
  }
  
    .signup-title{
      color: rgb(114, 114, 114);
      text-align: center;
      font-size: large;
    }

    .signup-form ul{
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

      .signup-form ul li{
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        
      }

        .signup-form ul li input{
          height: 80%;
          width: 100%;
          
          border-style: none;
          border-radius: 8px;
        }
        
        .date{
        	background-color:white;
        }

          .checkid{
            background-color:#ffc477;
            border-radius:8px;
            border-style: none;
            color:#616161;
            padding-top: 3px;
            padding-bottom: 3px;
            font-weight:bolder;
            font-size: 15px;

            margin-left: 7px;
          }

          #id_check_sucess{
            margin-left:7px;
            width: 20px;
            height: 20px;
          }
		
		.checkmsg{
			color:red;
		}
		
        .btn{
          display: flex;
        }

          .btn-submit{
            background-color: #f8d599;
            color: rgba(0, 0, 0, 0.589);
            font-weight: bold;
          }
