html,body{
  height: 100%;
  background-color:#F2F2F2;
  
}

html,body,h1,ul,ol{
  margin:0;
  padding:0;

}

a{
  color:initial;
  text-decoration: initial;
}

ul,ol{
  list-style: none;
}
/* --- common(base) style ----------------------------------------- */
:root{
  --color-basic:#979797;
  --color-strong:#ff6a00;
  --bg-color-basic:#fff;
  --bg-color-light:#e9e9e9;
  --bg-color-dark:#313131;
  --bd-color-basic:#e9e9e9;
  /* --color-dark: */
}

body{
  font-family: "����", Arial, Helvetica, sans-serif;
  font-size: 11px;
  color:var(--color-basic);
}

a{
  color:var(--color-basic);
}

/* ---- utils style ------------------------------------------------ */
.d-none{
  display: none !important;
}
/*-----------------------------------*/
#header{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;

  padding: 0 10px;
  background-color:#F8F1E5;
  
}

.logo{
width:80px;
height:auto;
}
#main{
height: 85%;
  overflow: scroll;
}

/* The navigation bar */
#navbar {
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: #F8F1E5
}
#navbar a {
  float: left;
  display: block;
  color: #fdf7f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.select-diary div {
margin: 10px;
text-align: center;
font-size: 15px;
}

/* Change background on mouse-over */
#navbar a:hover {
background: #ddd;
color: black;
}

/*table */
table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
border: 1px solid #ddd;
}

th, td {
text-align: left;
padding: 8px;
height: 2rem;
}

tr {
border: 1px solid #ddd;
}

/* ---- main style ------------------------------------------------ */
main{
  height: 87%;
  display: flex;
  align-items: center;
}

.signup-box{
  background-color: #ece7db;
  border-radius: 10%;
  box-shadow: 5px 5px 15px;

  margin-left: auto;
  margin-right: auto;

  height: 70%;
  width: 70%;
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}

  .signup-form{
    height: 90%;
    width: 80%;
  }
  
    .signup-title{
      color: rgb(114, 114, 114);
      text-align: center;
      font-size: large;
    }

    .signup-form ul{
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

      .signup-form ul li{
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        
      }

        .signup-form ul li input{
          height: 80%;
          width: 100%;
          
          border-style: none;
          border-radius: 8px;
        }

          .checkid{
            background-color:#ffc477;
            border-radius:8px;
            border-style: none;
            color:#616161;
            padding-top: 3px;
            padding-bottom: 3px;
            font-weight:bolder;
            font-size: 14px;

            margin-left: 7px;
          }

          #id_check_sucess{
            margin-left:7px;
            width: 20px;
            height: 20px;
          }

        .btn{
          display: flex;
        }

          .btn-submit{
            background-color: #f8d599;
            color: rgba(0, 0, 0, 0.589);
            font-weight: bold;
          }
