<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>자유일기</title>
<link href="/css/mypage/mypage.css" type="text/css" rel="stylesheet">


<script>


	// 내피드 내댓글 보기
	window.addEventListener("load", ()=>{
		let diaryMenuButton = document.querySelector(".my-oneline-button");
		let commentMenuButton = document.querySelector(".my-comment-button");
		let onelineList = document.querySelector(".my-oneline-list");
		let commentList = document.querySelector(".my-comment-list");

		diaryMenuButton.onclick = () => {
			diaryMenuButton.classList.add("clicked");
			commentMenuButton.classList.remove("clicked");
			onelineList.classList.remove("d-none");
            commentList.classList.add("d-none");
		};


		
		commentMenuButton.onclick = () => {
			diaryMenuButton.classList.remove("clicked");
			commentMenuButton.classList.add("clicked");
            onelineList.classList.add("d-none");
            commentList.classList.remove("d-none");
		};
		
		
		// mouseenter event 
		// mouseleave event 도
		diaryMenuButton.onmouseover = ()=>{
				commentMenuButton.classList.remove("my-oneline-button-click");
				diaryMenuButton.classList.add("my-oneline-button-click");
				
				diaryMenuButton.onmouseleave = ()=>{
					if(commentMenuButton.classList.contains("clicked")){
						commentMenuButton.classList.add("my-oneline-button-click");
						diaryMenuButton.classList.remove("my-oneline-button-click");
					}			

				};				
				
			};
			
			
			commentMenuButton.onmouseover = ()=>{
				commentMenuButton.classList.add("my-oneline-button-click");
				diaryMenuButton.classList.remove("my-oneline-button-click");
				
				commentMenuButton.onmouseleave = ()=>{
					if(diaryMenuButton.classList.contains("clicked")){
						commentMenuButton.classList.remove("my-oneline-button-click");
						diaryMenuButton.classList.add("my-oneline-button-click");
					}			

				};				
				
			};






		
// my online list container 에다가 onclick 해줘서 a 에다가 dispatchEvent 해줌 ㅇㅇ
	let onlineContainer = document.querySelector(".my-oneline-list-container");
	
	
	
	// 이벤트 a tag 에 dispatch 해줌
	onlineContainer.onclick = (e)=>{
		if(e.target.classList.contains("my-oneline-item-link"))
			return;
		let item = e.target;
		
		for(let i = 0; i < 9; i++){
			if(item.classList.contains("my-oneline-list-items")){
				let event = new MouseEvent("click", {
					  bubbles: true,
					  cancelable: true

					});
				item.querySelector(".my-oneline-item-link").dispatchEvent(event);
				break;
			}
			
			 item = item.parentNode;
			
		}
		
	};
	
	
	
	
	
	
	
	
	
	
	// my comment list container 에다가 onclick 해줘서 a 에다가 dispatchEvent 해줌 ㅇㅇ
		let commentContainer = document.querySelector(".my-comment-list-container");
		
		
		// 이벤트 a tag 에 dispatch 해줌
		commentContainer.onclick = (e)=>{
			if(e.target.classList.contains("my-comment-item-link"))
				return;
			let item = e.target;
			
			for(let i = 0; i < 9; i++){
				if(item.classList.contains("my-comment-list-items")){
					let event = new MouseEvent("click", {
						  bubbles: true,
						  cancelable: true

						});
					item.querySelector(".my-comment-item-link").dispatchEvent(event);
					break;
				}
				
				 item = item.parentNode;
				
			}
			
		};
	
	

        
	
	
	
	
	
	
	
	
	
	
	
	
		
	});
	

	
	
		// input file reset function
        function resetFileForm(fileInput){
            var orgParent = fileInput.parentNode;
            let tempForm = document.createElement("form");

                tempForm.appendChild(fileInput);
                tempForm.reset();

                orgParent.appendChild(fileInput);
                tempForm.remove();
        }
		
		
		

		
		


		// 프로필수정 과 config icon onclick 설정
        window.addEventListener("load", ()=>{
			
        	
        	let editBox = document.querySelector(".upside-container-edit-box");
            let img = document.querySelector(".item1-img");
            let text = document.querySelector(".item1-text");
            let profileSection = document.querySelector(".profile-edit-section");
            let fileInput = document.querySelector(".profile-edit-file-input");
			let configButton = document.querySelector(".upside-container-edit-img");
            let profileEditButton = document.querySelector(".upside-container-edit-box-profile-edit");
			let profileEdit = document.querySelector(".profile-edit");

            img.onmouseenter = ()=>{
                img.style.opacity = 0.5;
                text.classList.remove("d-none");
            };
            
            img.onmouseleave = ()=>{
                img.style.opacity = 1;
                text.classList.add("d-none");


            };	
            
            
            //config button 누르면 팝업menu 떠보자
            configButton.onclick = (e)=>{
            	  editBox.classList.remove("d-none");
            	//투명 screen 만들어서 띄워줌
                  let whiteScreen = document.createElement("div");
                  whiteScreen.style.width = "100%";
                  whiteScreen.style.height = "100%";
                  whiteScreen.style.position = "fixed";
                  whiteScreen.style.top = "0px";
                  whiteScreen.style.left = "0px"
                  whiteScreen.style.zIndex = 5;
                  whiteScreen.style.opacity = 0.7;
                  document.body.appendChild(whiteScreen);
                 
                  //screen onclick되면 사라짐 
                  whiteScreen.onclick = (e) =>{
                	  
                	whiteScreen.remove();
                  	editBox.classList.add("d-none");
                  };
                  
                  //editBox도 onclick되면 사라짐 
                  editBox.onclick = ()=>{
                	  
                	 whiteScreen.remove();
                     editBox.classList.add("d-none");  
                	  
                  };
                  
             
            };
            
            
            profileEditButton.onclick = ()=>{
            	
            	profileSection.classList.remove("d-none");
              	
              	//screen 만들어서 띄워줌
                  let screen = document.createElement("div");
                  screen.style.width = "100%";
                  screen.style.height = "100%";
                  screen.style.position = "fixed";
                  screen.style.top = "0px";
                  screen.style.left = "0px"
                  screen.style.zIndex = 100;
                  screen.style.backdropFilter= "blur(2px)";
                  
                  screen.style.opacity = 0.7;
                  document.body.appendChild(screen);
      	
                  
                  //screen onclick되면 사라짐
                  screen.onclick = (e) =>{
                  	screen.remove();
                  	profileSection.classList.add("d-none");
              	
                  };
                  
                  //editsection도 onclick되면 사라짐 대신아래서 stoppropaganda 해줘야지
              	  profileSection.onclick = (e)=>{
              		  
              		  	if(e.target.classList.contains("profile-edit-section")){
                    		screen.remove();
                      		profileSection.classList.add("d-none");
              		  	}
              	  };
              	  
              	  
              	  
              };
              

            
            
      
            
            
            

            // 사진 클릭시 수정기능
            img.onclick = ()=>{

                var event = new MouseEvent('click', {
                    bubbles: true,
                    cancelable: true,
                    view: window
                });
                fileInput.dispatchEvent(event);
            };


            /// 사진이 첨부가 됬을때
            fileInput.oninput = function(e){

                let file = fileInput.files[0];
                if(file.type.indexOf("image/") < 0){
                    alert("이미지 형식만 사용할 수 있습니다.");
                    resetFileForm(fileInput);
                    img.src= "/images/icon/unuploadablefile.png";
                    return;
                }
                    
                var reader = new FileReader();
                reader.onload = function(evt){
                    img.src = evt.target.result;
                    
                };
                reader.readAsDataURL(file);


                profileEdit.method = "POST";

            }




            let Link = document.querySelector(".item1-link");
            Link.onclick = (e)=>{
                e.preventDefault();
                

                img.src = "/upload/profile/basic.jpg";                

                profileEdit.method = "GET";



                // fileInput resetㄱㄱ
                resetFileForm(fileInput);




            };





        });
		
		
		
		
		

    </script>

<script src="/js/profile/profile.js">
</script>



</head>
<main id="main" layout:fragment="main">


	<section class="upper-main-container">
		<h1 class="d-none">위에부분</h1>




			<div class="upside-container">
				<section class="upside-container-title">
					<h1 class="d-none">나의 오늘일기</h1>
					<div class="upside-container-title-main">나의 오늘일기</div>
					<div class="upside-container-title-sub">나의 일상을 돌아 봅니다...</div>
				</section>

				<section class="upside-container-edit">
					<h1 class="d-none">edit버튼</h1>
					<img class="upside-container-edit-img" src="/images/icon/config-icon.png">
					<div class="upside-container-edit-box d-none">
						<div class="upside-container-edit-box-logout upside-container-edit-item"><a href="/doLogout">로그아웃</a></div>
						<div class="upside-container-edit-box-profile-edit upside-container-edit-item"> 프로필 변경 </div>
						<div class="upside-container-edit-box-information-edit upside-container-edit-item"><a href="/member/edit">정보수정</a></div>
					</div>
				</section>
			</div>




			<div class="midleside-container">

				<section class="midleside-container-item1">
					<h1 class="d-none">img</h1>
					<img class="midleside-container-item1-img profile-popup pointer" th:src="@{/upload/profile/basic.jpg}" th:alt="${member.userId}"  th:if="${member.image}=='basic.jpg'"> 
					<img class="midleside-container-item1-img profile-popup pointer" th:src="@{'/upload/profile/'+${member.id}+'/'+${member.image}}" th:alt="${member.userId}"  th:if="${member.image}!='basic.jpg'">
				</section>

				<div class="midleside-container-hr"></div>

				<section class="midleside-container-item2">
					<h1 class="d-none">자기소개</h1>
					<ul>
						<li class="midleside-container-item2-my"><span style="" th:text="${member.name}">홍길동</span> 나는</li>
						<li class="midleside-container-item2-nameis" th:if="${member.introduction} == ''">자기소개를 작성해 주세요 </li>
						<li class="midleside-container-item2-nameis" th:if="${member.introduction} != ''" th:text="${member.introduction}" >자기소개 작성</li>

					</ul>
				</section>

			</div>


	</section>
			
			
	<section>
		<h1 class="d-none">nav bar</h1>

		<nav class="midledownside-container">
			<h1 class="d-none">nav</h1>
			<div class="my-oneline-button my-oneline-button-click clicked">내 피드</div>
			<div class="my-comment-button">내 댓글</div>
		</nav>

	</section>
			







	<section class="my-oneline-list ">
		<h1 class="d-none">원라인 리스트</h1>
		<ul class="my-oneline-list-container"> 
			<li class="my-oneline-list-items"  th:if="${#lists.isEmpty(myOneline)}">
				<div style=" flex-grow: 1; text-align:center;">내용이 없습니다</div>
			</li>
			<li class="my-oneline-list-items"  th:each="n:${myOneline}">
				<div class="my-oneline-content-regdate-container">
					<div class="my-oneline-item-content" th:text="${n.content}">zcontentzzcontentzzcontententzzcontentzzcontentzzzcontentzzcozcontentzzcontentzzcontententzzcontentzzcontentzzzcontentzzco</div>
					<div class="my-oneline-item-regcom">
						<span class="my-oneline-item-regdate" th:text="${#calendars.format(n.regDate,'yyyy-MM-dd  /  HH:mm')}">2021-07-06</span>
						<span class="my-oneline-item-commentcount" th:text="'댓글 ' + ${n.count} +'개'">댓글 10</span>
					</div>
				</div>
				<div class="my-oneline-list-img"><img class="my-oneline-item-img" src="https://image.flaticon.com/icons/png/128/1246/1246324.png" alt="picture"/></div>
				<a class="my-oneline-item-link" th:href="@{/feed/oneline/detail(id=${n.id})}"></a>
			</li>





		</ul>

	</section>


	<section class="my-comment-list d-none">
		<h1 class="d-none">커멘트 리스트</h1>
		<ul class="my-comment-list-container"> 
			<li class="my-comment-list-items"  th:if="${#lists.isEmpty(myComment)}">
				<div style=" flex-grow: 1; text-align:center;">내용이 없습니다</div>
			</li>
			<li class="my-comment-list-items" th:each="n:${myComment}">
				<div class="my-comment-content-regdate-container">
					<div class="my-comment-item-content" th:text="${n.content}">zcontentzzcontentzzcontententzzcontentzzcontentzzzcontentzzcozcontentzzcontentzzcontententzzcontentzzcontentzzzcontentzzco</div>
					<span class="my-comment-item-regdate"  th:text="${#calendars.format(n.regDate,'yyyy-MM-dd  /  HH:mm ')} + ${n.comment}+'에서'">2021-07-06</span>
				</div>
				<div th:if="${n.comment == 'oneline'}"  class="my-comment-list-img"><img class="my-comment-item-img" src="/images/icon/o-toro.png" alt="picture"/></div>
				<div th:if="${n.comment == 'freeDiary'}"  class="my-comment-list-img"><img class="my-comment-item-img" src="/images/icon/kampachi.png" alt="picture"/></div>
				<div th:if="${n.comment == 'gratitudeDiary'}"  class="my-comment-list-img"><img class="my-comment-item-img" src="/images/icon/toro-salmon.png" alt="picture"/></div>
				
				<a class="my-comment-item-link" th:if="${n.comment == 'oneline'}" th:href="@{/feed/{feed}/detail(id=${n.diaryId}, feed=${n.comment})}"></a>
				<a class="my-comment-item-link" th:if="${n.comment != 'oneline' }" th:href="@{/diary/{diary}/detail(id=${n.diaryId}, diary=${n.comment})}"></a>
				
			</li>





		</ul>

	</section>





	<section class="profile-edit-section  d-none">
		<h1 class="d-none" >푸로필 수정</h1>
		<form class="profile-edit" action="/mypage/reg" method="POST" enctype="multipart/form-data">
	        <div class="profile-edit-item1" ><div class="item1-text d-none">수정</div><img class="item1-img" th:src="@{'/upload/profile/'+${member.id}+'/'+${member.image}}" th:if="${member.image}!='basic.jpg'" /><img class="item1-img" th:src="@{/upload/profile/basic.jpg}"  th:if="${member.image}=='basic.jpg'" /><div class="item1-link"><a href="">기본사진</a></div></div>
	       
	        <div class="profile-edit-item3">
	        	<div class="item3-flex"><div class="item3-p" th:text="${member.name}+ ' 나는'" >누구누구 나는</div> <input class="item3-submit" type="submit" value="수정"></div>
	        	<textarea name="introduction" class="item3-textarea" th:text="${member.introduction}" placeholder="자기소개를 작성해 주세요"></textarea>
        		<!-- <input class="item3-email" type="text" name="email" placeholder="이메일을 입력해주세요" th:value="${member.email}"> -->
	        </div>
	        <input class="profile-edit-file-input d-none" type="file" name="multiFile">
	    </form> 
    </section>
    
    
</main>
</html>
