#main{
		overflow:scroll;
}
.wrapper{

	display:flex;
	margin-bottom: 25px;
	
	flex-direction: column;
	align-items: center;
	height: 100%;
	
	position: relative;
	    margin-top: 15px;

}



.emotion{
	width:80px;
	height: auto;
}
.date{

	font-size: 14px;
}
.image{
    
    max-width:90%;
    height:auto;
    object-fit: cover;
    border-radius: 15px;
}

.content-container{
	display:flex;
	flex-direction:column;
	align-items: center;
	width:100%;
	margin-top:7px;
	height: 40%;
}

.content{
	box-sizing: border-box;
	width:85%;
	height:95%;
	resize:none;
	border-radius: 8px;
	border : 0;
	padding:5px;
	font-size: 14px;
}

/*-------------¹öÆ° ------------------------*/    
.buttons{
	display: flex;
    justify-content: flex-end;
    margin-top: 10px;

}
	.button{
  font-size:12px;
  font-family: 'S-CoreDream-3Light';
  width:60px;
  height:25px;
  border-width:1px;
  color:rgba(74, 74, 74, 1);
  border-color:rgba(195, 193, 191, 0.69);
  font-weight:bold;
  border-radius:10px;
  text-shadow: 1px 1px 0px rgba(248, 241, 229, 1);
  background:white;
  margin-right: 5px;
  margin-bottom: 40px;
}

	.button:hover {
	  background: rgba(247, 232, 206, 1)
	} 

/* .upside-container */ /*-edit*/
.upside-container-edit {
	position: absolute;
	right: 0px;
	margin-right: 15px;
	top: 20px;
}

.upside-container-edit-img {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.upside-container-edit-box {
	color: #727272;
	position: relative;
	right: inherit;
	top: -35px;
	
	width: auto;
	height: auto;
	background-color: white;
	border: 1px #F2F2F2 solid;
	z-index: 10;
}

.upside-container-edit-item {
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}
	