
textarea {
	width:90%;
	height:95%;
	resize:none;
}
.text-input{
	display:flex;
	flex-direction:column;
	align-items: center;
	width:100%;
	
	height: 50%;
}
.form{
	width:100%;

	display:flex;
	flex-direction:column;
	align-items: center;
}
.date-input{
	height:35px;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: space-around;
}
.wrapper{
	width:100%;
	height:100%;
	overflow: scroll;
	padding:5px 0;
	box-sizing: border-box;
	display:flex;
	flex-direction:column;
	align-items: center;
	margin-bottom: 17px;
	
}
.emotion-input{
	max-height:200px;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.image{
	object-fit: cover;
	margin : 7px 0;
}

.buttons{
	display: flex;
	width:100%;
    justify-content: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
}
.button{
  font-size:12px;
  font-family:Arial;
  width:60px;
  height:25px;
  border-width:1px;
  color:rgba(74, 74, 74, 1);
  border-color:rgba(195, 193, 191, 0.69);
  font-weight:bold;
  border-radius:10px;
  text-shadow: 1px 1px 0px rgba(248, 241, 229, 1);
  background:rgba(248, 241, 229, 1);
  margin-right: 5px;
}

.file-buttons{
	height:30px;
	width:90%;
	display:flex;
	justify-content: flex-end;
	margin-bottom:4px;	
}
.btn-sel{
	
	background: url("../../../images/icon/picture.png") no-repeat;
	 background-size: cover;
	width:35px;
	height:30px;
	border:0;
	
}
.del-btn-container{
	height:20px;
	display:flex;
}
.file-del-btn{
	background: url("../../../images/icon/remove.png") no-repeat;
	 background-size: cover;
	width:20px;
	height:20px;
	border:0;
}
.d-none{
	display:none;
}