.title-container{
	margin:0 5px;
	--position:fixed;
	width:100%;
	background-color:#f2f2f2;
}
.title{
	margin:5px;
}
hr{
	width:70%;
	margin-left:0;
}

.container{
	display:flex;
	flex-direction: column;
    align-items: center;
}

.diary-container{
	display:grid;
	height:120px;
	width:80%;
	padding:10px;
	margin-bottom:15px;
	background-color: white;
	border-radius: 8px;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:20px 1fr 18px;
	grid-template-areas:
		"bookingDate bookingDate bookingDate"
		"image content content"
		"regDate regDate regDate"
}

.bookingDate{
	grid-area:bookingDate;
}

.img-container{
	grid-area:image;
	
}

.img-container > img {
	width: 80px;
  	height:80px;
  	border-radius:15%;
  	object-fit:cover
}
.content{
	grid-area:content;
	width:90%;
	
	text-overflow:ellipsis;
	overflow:hidden;
	
	vertical-align:middle;
}

.regDate{
	grid-area:regDate;
	text-align:end;
}