
.wrapper{
	width:100%;
	height:100%;
	overflow: scroll;
	padding:5px 0;
	box-sizing: border-box;
	display:flex;
	flex-direction:column;
	align-items: center;
	margin-bottom: 17px;
	
}

.form{
	width:100%;

	display:flex;
	flex-direction:column;
	align-items: center;
}
.date-input{
	height:80px;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: space-around;
}
.emotion-input{
	max-height:200px;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.form lable{
	height:20px;
	margin:15px;
	margin-bottom:7px;
}
.lable2{
	margin-bottom:0;
}

.form input[type=date]{
	margin-bottom:7px;
	height:20px;
	font-family: 'S-CoreDream-3Light';
}


.image{
	object-fit: cover;
	margin : 7px 0;
	width : 90%;
	height : 200px;
	border-radius:2px;
}
.image:active{
	opacity : 0.5;

	}
	.basic{
		border:1px #979797 solid;
	 	
	 }
.text-input{
	display:flex;
	flex-direction:column;
	align-items: center;
	width:100%;
	
	height: 50%;
}
	
	textarea {
		width:90%;
		height:95%;
		resize:none;
	}
		
.buttons{
	display: flex;
	width:100%;
    justify-content: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
}
@font-face {
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-family: 'S-CoreDream-3Light';
     font-weight: normal;
     font-style: normal;
}
.button{
  font-size:12px;
  font-family: 'S-CoreDream-3Light';
  width:60px;
  height:25px;
  border-width:1px;
  color:rgba(74, 74, 74, 1);
  border-color:rgba(195, 193, 191, 0.69);
  font-weight:bold;
  border-radius:8px;
  text-shadow: 1px 1px 0px rgba(248, 241, 229, 1);
  background:rgba(248, 241, 229, 1);
  margin-right: 5px;
}

.button:hover {
  background: rgba(247, 232, 206, 1)
}   
.file-buttons{
	height:30px;
	width:90%;
	display:flex;
	justify-content: flex-end;
	margin-bottom:4px;	
}

.del-btn-container{
	height:20px;
	display:flex;
}
	.file-del-btn{
		background: url("../../../images/icon/remove.png") no-repeat;
		 background-size: cover;
		width:20px;
		height:20px;
		border:0;
	} 
.question-container{
	height:20px;
	width:90%;
	display:flex;
	justify-content: flex-end;
	
}
.question-mark{
	background: url("../../../images/icon/question-mark.png") no-repeat;
	 background-size: cover;
	width:20px;
	height:20px;
	border:0;
} 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+KR:wght@200;400;600&display=swap');
.explanation{
	border:1px solid #979797;
	padding:3px 5px;
	border-radius:3px;
	background-color:#fff;
	font-family: 'Noto Serif KR', serif;
	font-size: 12px;
}
.d-none{
	display:none;
}
