
textarea {
	width:90%;
	height:90%;
	resize:none;
}

.wrapper{
	width:100%;
	height:100%;
	
	padding:5px;
	box-sizing: border-box;
	display:flex;
	flex-direction:column;
	align-items: center;
}

.form{
	width:100%;
	height:90%;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.date-input{
	height:80px;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.emotion-input{
	max-height:200px;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.form lable{
	height:20px;
	margin:15px;
	margin-bottom:7px;
}
.lable2{
	margin-bottom:0;
}

.form input[type=date]{
	margin-bottom:7px;
	height:20px;
}

#emotion{

	
	
}
.filebox{
	margin-left:auto;
	margin-right:20px;
	margin-bottom:7px;
	
}

.image{
	object-fit: cover;
	margin : 7px 0;
}

.text-input{
	display:flex;
	flex-direction:column;
	align-items: center;
	width:100%;
	height:400px;
}
.buttons{
	display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
}
.button{
  font-size:12px;
  font-family:Arial;
  width:60px;
  height:25px;
  border-width:1px;
  color:rgba(74, 74, 74, 1);
  border-color:rgba(195, 193, 191, 0.69);
  font-weight:bold;
  border-radius:10px;
  text-shadow: 1px 1px 0px rgba(248, 241, 229, 1);
  background:rgba(248, 241, 229, 1);
  margin-right: 5px;
}

.button:hover {
  background: rgba(247, 232, 206, 1)
}    
