textarea {
	width:90%;
	resize:none;
}

.wrapper{
	width:100%;
	height:100%;
	overflow:scroll;
	padding:5px;
	box-sizing: border-box;
}

.form{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items: center;
}

.form lable{
	margin:15px;
	margin-bottom:7px;
}

.form input[type=date]{
	margin-bottom:7px;
}
