.section{
	display:flex;
	width:100%;
	height:100%;
}
.select-diary{
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.menu{
	width : 80%;
	height:15%;
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
   	border-radius: 24px;
   	display:flex;
   	align-items: center;
   	justify-content: flex-end;
   	padding:5px;
   	background-color:white;
   	display:grid;
   	grid-template-columns:15% 70% 15%;
	grid-template-rows:25% 50% 25%;
	grid-template-areas:
		"explain explain explain"
		"b title arrow"
		"a a a"
   	
   	
}
.menu:nth-child(1){
	margin-bottom:25px;
}
.menu:nth-child(2){
	margin-bottom:25px;
}

	.explain{
		grid-area:explain;
		padding-left: 6%;
		font-size: 0.8rem;
	}
	.title{
		grid-area:title;
		padding-right: 6%;
		text-align: end;
		font-size: 1.5rem;
	}
	
	.arrow-right{
		grid-area:arrow;
		height:45%;
		width:auto;
	}