/*gratitudeDiary css*/

.emotion{
	
}

.checked-emotion{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.content-container{
	width:85%;
	background-color: white;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	padding-top: 1px;
    padding-bottom: 13px;
}

.question{
	size: 10px;
	color: #c4bda4;
	margin: 15px 0px 10px 20px;
}

.date{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

.content{
	font-size: 12px;
	margin: 5px 20px 5px 25px;
}

.button{
	display: flex;
	margin: 10px 0px 0px 240px;
	width: 100px;
	justify-content: space-evenly;
}