/*gratitudeDiary css*/

.title-container{
	margin:0 5px;
	--position:fixed;
	width:100%;
	background-color:#f2f2f2;
}
.title{
	margin:5px;
}
hr{
	width:70%;
	margin-left:0;
}

.container{
	display:flex;
	flex-direction: column;
    align-items: center;
}

.diary-container{
	display:grid;
	height:140px;
	width:80%;
	padding:5px;
	margin-bottom:15px;
	background-color: white;
	border-radius: 8px;
    grid-template-columns: 80px 1fr;/*¿­ µÎ°³*/
    grid-template-rows: 40px 1fr;/*Çà 3Ãþ*/
	grid-template-areas:
	  "date content"
	  "emotion content";
    align-items: center;
    box-sizing: border-box;
}

.date{
	grid-area: date;
	margin: 25px 25px 5px 17px;
	text-align: center;
	background-color: #F8F1E5;
    border-radius: 20%;
    padding: 5px;
}

.day{
	font-weight: bold;
    color: #757575;
    font-size: 15px;
}

.dayName{
	display: block;
}
.emotion-container{
	grid-area: emotion;
	
}

.content{
	height: 15px;
	width: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 6px;
	margin-left: 5px;
	
}

.content1{
	width: 100%;
	height: inherit;
	grid-area: content;
	margin: 37px 0px 0px 10px;
	white-space: nowrap;
	overflow: hidden;
	
}

.question{
	size: 8px;
	color: #c4bda4;
}

