.wrapper{
	width:100%;
	height:100%;
	overflow:scroll;
	padding:5px;
	box-sizing: border-box;
}

.question-container{
	height:20px;
	width:90%;
	display:flex;
	justify-content: flex-end;
	
}
.question-mark{
	background: url("../../../images/icon/question-mark.png") no-repeat;
	 background-size: cover;
	width:20px;
	height:20px;
	border:0;
}
.explanation{
	border:1px solid #979797;
	padding:3px 5px;
	border-radius:3px;
	background-color:#fff;
}
.d-none{
	display:none;
}

/*-------------날짜 ------------------------*/
.date{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 15px;
}
	.date label{
		margin-bottom: 7px;
	}

/*-------------감정 ------------------------*/ 
.emotion-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 22px;
	margin-bottom: 15px;
}
	#open-button{
		margin-top: 7px;	
	}

/*-------------공개여부 ------------------------*/
.pub{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
	margin-bottom: 10px;
}
	.pub-label{
		margin-left: 8px;
	}


/*-------------컨텐츠 ------------------------*/	
.contents{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}	
	.content-label{
		display: flex;
		flex-direction: column;
		margin-bottom: 5px;
   		margin-top: 20px;
		
	}
		.question{
			display: flex;
			justify-content: flex-end;
    		margin: 10px 30px 3px 0px;
			color: #a69b75;
		}
		
	textarea {
	width:95%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
    }
    
/*-------------버튼 ------------------------*/    
.buttons{
	display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px
}
.button{
  font-size:12px;
  font-family:Arial;
  width:60px;
  height:25px;
  border-width:1px;
  color:rgba(74, 74, 74, 1);
  border-color:rgba(195, 193, 191, 0.69);
  font-weight:bold;
  border-radius:10px;
  text-shadow: 1px 1px 0px rgba(248, 241, 229, 1);
  background:rgba(248, 241, 229, 1);
  margin-right: 5px;
}

.button:hover {
  background: rgba(247, 232, 206, 1)
}    