.wrapper{
	width:100%;
	height:100%;
	overflow:scroll;
	padding:5px;
	box-sizing: border-box;
}

.date, .emotion-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.pub{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
	margin-bottom: 15px;
}
	.pub-label{
		margin-left: 8px;
	}

.date label{
	margin-bottom: 7px;
}

	#open-button{
		margin-top: 7px;	
	}
	
.contents{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}	
	.content-label{
		display: flex;
		flex-direction: column;
		margin-bottom: 13px;
		margin-top: 30px;
		
	}
		.question{
			display: flex;
			justify-content: flex-end;
    		margin: 10px 30px 3px 0px;
			color: #a69b75;
		}
		
	textarea {
	width:95%;
	margin-left: auto;
	margin-right: auto;
    }
