#calendar {
	padding: 0px;
	max-width: 450px;
	height: 460px;
	margin: auto auto;
	margin-top: 10px;
}

.happy, .proud, .flutter, .calm, .sensitive, .unstable, .tired, .sad,
	.upset {
	width: 5em;
	height: 5em;
	margin-left: auto;
	margin-right: auto;
}

.d-none {
	display: none;
}

.diary-container {
	display: grid;
	height: 80px;;
	width: 90%;
	padding: 5px;
	background-color: white;
	border-radius: 8px;
	align-items: center;
	margin: 10px auto 10px auto;
	grid-template-columns: 85px 1fr; /*¿­ µÎ°³*/
	grid-template-rows: 15px 1fr; /*Çà 3Ãþ*/
	grid-template-areas: 
	"diary content"
	"emotion content";
}
/*-----------´ÙÀÌ¾î¸®  ------------------------*/ 
.diary{
	grid-area: diary;
	display: flex;
	justify-content: center;
	font-size: 12px;
}

/*-------------°¨Á¤ ------------------------*/ 	
.emotion-container {
	grid-area: emotion;
}

/*-------------ÄÁÅÙÃ÷ ------------------------*/
.content-container{
	grid-area: content;
	display: flex;
	align-items: center;
	margin-left: 8px;
	height: 90%;
	width: 95%;
	white-space: nowrap;
	overflow: hidden;
}

.content {
	overflow: hidden;
	text-overflow: ellipsis;
}