#calendar {
	padding: 0px;
	max-width: 450px;
	height: 460px;
	margin: auto auto;
	margin-top: 10px;
}

.happy, .proud, .flutter, .calm, .sensitive, .unstable, .tired, .sad,
	.upset {
	width: 5em;
	height: 5em;
	margin-left: auto;
	margin-right: auto;
}

.d-none {
	display: none;
}

.diary-container {
	display: grid;
	height: 70px;
	width: 90%;
	padding: 5px;
	background-color: white;
	border-radius: 8px;
	align-items: center;
	margin: 10px auto 10px auto;
	grid-template-columns: 80px 1fr; /*¿­ µÎ°³*/
	grid-template-rows: 1fr; /*Çà 3Ãþ*/
	grid-template-areas: "emotion content";
}

.emotion-container {
	grid-area: emotion;
}

.content {
	white-space: no-wrap;
	grid-area: content;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 90%;
	display: flex;
	align-items: center;
}