<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout"
	lang='ko'>
	
  <head>
    <meta charset='UTF-8' />
    <link href='/css/calendar/calendar.css' rel='stylesheet' />
    <script src='/js/calendar/calendar.js'></script>
    <style type="text/css">
    	#calendar {
	    	padding: 0px;
	        max-width: 600px;
	        margin: auto auto;
	        height: 580px;
	        margin-top: 10px;
    	}
		
		.happy, .proud, .flutter, .calm, .sensitive, .unstable, .tired, .sad, .upset {
		    width: 60px;
		    height: 60px;
		    margin: auto auto;
	    }
	
    </style>
    <script>
    
      var jsonString ="[[${jsonString}]]";
      
      if( jsonString == "" ) {
    	  jsonString = "[]";
      } else {
    	  jsonString = jsonString.replace(/&quot;/g, "\"");
      }
      var eventList = JSON.parse(jsonString);
      
      var calendar = null;
      /* var dataMap = {
    		  start : "yyyy-MM-dd",
    		  className: ""
      }
      var jsonString = JSON.stringify(dataMap); */
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
         
        calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
       	  editable: true,
          selectable: true,
          businessHours: true,
          dayMaxEvents: true,
          /* events: JSON.parse("${jsonString}"), */
          
           /* customButtons: {
        	    myCustomButton: {
        	      text: '테스트 일정 추가',
        	      click: function() {
        	    	  addEventSource();
        	      }
        	    }
        	  },
      	  headerToolbar: {
      	    left: 'myCustomButton',
      	    center: ''
      	  }  */
        	
      	  events:eventList,
      	
        });
        calendar.render();
        
      });
      
      
      
      
      /* function addEventSource() {
    	 
    	  calendar.addEventSource([
              {
                start: "2021-06-22",
                title: "테스트 일정1",
                id : "event1"
              },
              {
                  start: "2021-06-23",
                  title: "테스트 일정2",
                  id : "event2"
                },
                {
                    start: "2021-06-22",
                    title: "테스트 일정3",
                    id : "event3"
                  }
          ]);
      } */

    </script>
  </head>
  <main id="main" layout:fragment="main">
    <div id='calendar'></div>
    
    
  </main>
</html>