<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout"
	lang='ko'>
	
  <head>
    <meta charset='UTF-8' />
    <link href='/css/calendar/calendar.css' rel='stylesheet' />
    <script src='/js/calendar/calendar.js'></script>
    <style type="text/css">
    	#calendar {
	    	padding: 0px;
	        max-width: 450px;
	        height: 460px;
	        margin: auto auto;
	        margin-top: 10px;
    	}
		
		.happy, .proud, .flutter, .calm, .sensitive, .unstable, .tired, .sad, .upset {
		    width: 5em;
		    height: 5em;
		    margin-left: auto;
		    margin-right: auto;
	    }
	    
	    
	
    </style>
    <script>
    
      var jsonString ="[[${jsonString}]]";
      
      if( jsonString == "" ) {
    	  jsonString = "[]";
      } else {
    	  jsonString = jsonString.replace(/&quot;/g, "\"");
      }
      var eventList = JSON.parse(jsonString);
      
      var calendar = null;
     
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
         
        calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
       	  editable: true,
          selectable: true,
          businessHours: true,
          dayMaxEvents: true,
          	
      	  events:eventList,
      	
        });
        calendar.render();
        
      });
      
      
      
      
      function clickDate() {
    	 
    	  
      } 

    </script>
  </head>
  <main id="main" layout:fragment="main">
    <div id='calendar'></div>
    
<!--     <div></div> -->
    
  </main>
</html>