<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>modal</title>
<link href="/css/diary/freeDiary/comment.css" type="text/css"
	rel="stylesheet">
<script src='/js/diary/freediary/comment.js'></script>
</head>
<div th:fragment="comment">
	<!-- comments list -->
	<div id="reply">
		<ol>
			<li th:each="n:${commentList}">
				<div
					th:with="pid=${n.id},pUserId=${n.userId},freeDiaryId=${n.freeDiaryId}">
					<div class="displayDiv" th:with="userId=${n.userId}">
						<p class="commentId"th:text="${pid}">부모댓글아이디</p>
						<img class="commentImg profile-popup" th:alt="${userId}" th:src="@{'/upload/profile/'+${n.memberId} +'/'+${n.image}}" th:if="${n.image}!='basic.jpg'">
						<img class="commentImg  profile-popup" th:alt="${userId}" th:src="@{/upload/profile/basic.jpg}" th:if="${n.image}=='basic.jpg'">
						<div class="commentBg">
							<span class="userId" th:text="${userId}"></span>
							<span th:text="${n.regDate}"></span>
							<p th:text="${n.content}"></p>
							<a class="open-button">답글</a>
							<a th:if="${n.memberId == member.id}"class="edit-button">수정</a>
							<a id="commentDelBtn"
								th:if="${n.memberId == member.id}" th:href="@{commentdel(id=${n.id},freeDiaryId=${param.id})}"
								onclick="if(!confirm('댓글을 정말 삭제하시겠습니까?')) return false;">삭제</a>
						</div>
					</div>

					<!-- form to reply -->
					<div id="modal" class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<form id="commentReg" action="/diary/freeDiary/detail"
								method="post">
								<input type="hidden" name="commentId" th:value="${pid}">
								<input type="hidden" name="freeDiaryId"
									th:value="${freeDiaryId}">
								<div>
									<div>
										<span>Replying to</span>
										<span class="receiver" th:text="${pUserId}"><strong></strong></span>
									</div>
									<div>
								<!-- 		<input type="text" name="content" class="receiverInput" style="border: none;"></input> -->
										<textarea class="commentBox" rows="3" cols="30" name="content"
											placeholder="댓글을 입력하세요"></textarea>
										<br>
										<div>
											<input id="submitComment" type="submit" value="저장">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div><!-- form to reply -->
					
					<!-- form to edit comment -->
					<div id="editModal" class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<form id="commentedit" action="/diary/freeDiary/commentedit"
								method="post">
								<input type="hidden" name="id" th:value="${pid}">
								<input type="hidden" name="freeDiaryId"th:value="${freeDiaryId}">
								<div>
									<div>
										<span class="receiver"><strong>Editing</strong></span>
									</div>
									<div>
										<textarea class="editContent commentBox" rows="3" cols="30" name="content"
											th:placeholder="${n.content}"></textarea>
										<br>
										<div>
											<input id="submitComment" type="submit" value="저장">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div><!-- form to update comment -->

					<ul class="subComment">
						<li style="margin-left: 40px;" th:each="nc:${n.list}">

							<div class="displayDiv" th:with="id=${nc.id}">
								<p class="commentId"th:text="${id}">부모댓글아이디</p>
								<img class="commentImg profile-popup" th:alt="${nc.userId}" th:src="@{'/upload/profile/'+${nc.memberId} +'/'+${nc.image}}" th:if="${nc.image}!='basic.jpg'">
								<img class="commentImg profile-popup" th:alt="${nc.userId}" th:src="@{/upload/profile/basic.jpg}" th:if="${nc.image}=='basic.jpg'">
								<div class="commentBg">
									<span class="userId" th:text="${nc.userId}"></span>
									<span th:text="${nc.regDate}" class="spanTag"></span>
									<p th:text="${nc.content}" class="subComments"></p> 
									<div th:if="${nc.memberId == member.id}"></div>
									<div th:if="${nc.memberId == member.id}"></div>
									<a th:if="${nc.memberId == member.id}"class="edit-button">수정</a>
									<a th:if="${nc.memberId == member.id}"id="commentDelBtn"
									th:href="@{commentdel(id=${nc.id},freeDiaryId=${param.id})}"
									onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;">삭제</a>
								</div>
							</div>

						</li>
					</ul>
				</div>
			</li>
		</ol>
	</div>

</div>
</html>