<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>modal</title>
<link href="/css/diary/freeDiary/comment.css" type="text/css"
	rel="stylesheet">
<script src='/js/diary/freediary/comment.js'></script>
</head>
<div th:fragment="comment">
	<!-- comments list -->
	<div id="reply">
		<ol>
			<li th:each="n:${commentList}">
				<div
					th:with="pid=${n.id},pUserId=${n.userId},freeDiaryId=${n.freeDiaryId}">
					<div style="display: flex; margin: 10px;" th:with="userId=${n.userId}">
						<p th:text="${pid}">부모댓글아이디</p>
						<img
							style="height: 50px; width: 50px; border-radius: 25%; margin-right: 10px;"
							src="https://randomuser.me/api/portraits/lego/1.jpg">
						<div style="width:100%;">
							<span style="color: #007bff;" th:text="${userId}"></span>
							<span style="float: right;"th:text="${n.regDate}"></span>
							<p th:text="${n.content}"></p>
							<a class="open-button"><img style="width:15px;"src="https://image.flaticon.com/icons/png/128/1230/1230203.png"></a> 
							<a class="edit-button"><img style="width:15px; margin:0px 10px;"src="https://image.flaticon.com/icons/png/128/833/833275.png"></a> 
							<a id="commentDelBtn"
								th:href="@{commentdel(id=${n.id},freeDiaryId=${param.id})}"
								onclick="if(!confirm('댓글을 정말 삭제하시겠습니까?')) return false;">
								<img style="width:15px;"src="https://image.flaticon.com/icons/png/512/833/833262.png"></a>
						</div>
					</div>

					<!-- form to reply -->
					<div id="modal" class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<form id="commentReg" action="/diary/freediary/detail"
								method="post">
								<input type="hidden" name="commentId" th:value="${pid}">
								<input type="hidden" name="freeDiaryId"
									th:value="${freeDiaryId}">
								<div>
									<div>
										<span class="parentUserId"style="color: #007bff;" th:text="${pUserId}"><strong></strong></span><span>
											님에게 답글남기기</span>
									</div>
									<div>
										<textarea style="width: 95%" rows="3" cols="30" name="content"
											placeholder="댓글을 입력하세요"></textarea>
										<br>
										<div>
											<input type="submit" value="저장">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div><!-- form to reply -->
					
					<!-- form to edit comment -->
					<div id="editModal" class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<form id="commentedit" action="/diary/freediary/commentedit"
								method="post">
								<input type="hidden" name="id" th:value="${pid}">
								<input type="hidden" name="freeDiaryId"th:value="${freeDiaryId}">
								<div>
									<div>
										<span style="color: #007bff;"><strong>Editing..</strong></span>
									</div>
									<div>
										<textarea class="editContent"style="width: 95%" rows="3" cols="30" name="content"
											th:placeholder="${n.content}"></textarea>
										<br>
										<div>
											<input type="submit" value="저장">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div><!-- form to update comment -->

					<ul class="subComment">
						<li style="margin-left: 40px;" th:each="nc:${n.list}">

							<div style="display: flex;"th:with="id=${nc.id}">
								<p th:text="${id}">부모댓글아이디</p>
								<img
									style="height: 50px; width: 50px; border-radius: 25%; margin-right: 10px;"
									src="https://randomuser.me/api/portraits/lego/4.jpg">
								<div style="width:100%;">
									<span style="color: #007bff;" th:text="${nc.userId}"></span>
									<span style="float: right;"th:text="${nc.regDate}"></span>
									<p th:text="${nc.content}"></p> 
									<a class="edit-button"><img style="width:15px; margin:0px 10px;"src="https://image.flaticon.com/icons/png/128/833/833275.png"></a>
									<a id="commentDelBtn"
									th:href="@{commentdel(id=${nc.id},freeDiaryId=${param.id})}"
									onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;"><img style="width:15px;"src="https://image.flaticon.com/icons/png/512/833/833262.png"></a>
								</div>
							</div>

						</li>
					</ul>
				</div>
			</li>
		</ol>
	</div>

</div>
</html>