<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>modal</title>
<link href="/css/diary/freeDiary/detail.css" type="text/css"
	rel="stylesheet">
<script src='/js/diary/freediary/detail.js'></script>
</head>
<div id="modal" class="modal" th:fragment="comment">
	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>

		<form id="commentReg" name="commentReg" method="post">
			<input type="hidden" name="id" th:value="${n.id}">
			<input type="hidden" name="freeDiaryId" th:value="${nc.freeDiaryId}"> <br>
			<br>
			<div>
				<div>
					<span style="color: #007bff;"th:text="${nc.userId}"><strong></strong></span><span> 님에게 답글남기기</span>
				</div>
				<div>
					<textarea style="width: 85%" rows="3" cols="30" name="content"
						placeholder="댓글을 입력하세요"></textarea>
					<br>
					<div>
						<input type="submit" value="저장">
					</div>
				</div>
			</div>
		</form>


	</div>
</div>
<!-- modal -->

</html>