<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>자유일기-상세페이지</title>
<link href="/css/diary/freeDiary/comment.css" type="text/css"
	rel="stylesheet">
<link href="/css/diary/freeDiary/detail.css" type="text/css"
	rel="stylesheet">
<script src='/js/diary/freediary/comment.js'></script>
</head>
<main id="main" layout:fragment="main">

	<section class="sectionClass">
		<div class="detail-wrap">
		
                           
                           
                             
                              
								<th:block th:switch="${freeDiary.emotionId}"> 
								<span th:case="1"><img class="emotion" alt="" src="/images/emotions/happy.png"></span>
								 <span th:case="2"><img class="emotion" alt="" src="/images/emotions/proud.png"></span> 
								 <span th:case="3"><img class="emotion" alt="" src="/images/emotions/flutter.png"></span> 
								 <span th:case="4"><img class="emotion" alt="" src="/images/emotions/calm.png"></span> 
								 <span th:case="5"><img class="emotion" alt="" src="/images/emotions/sensitive.png"></span> 
								 <span th:case="6"><img class="emotion" alt="" src="/images/emotions/unstable.png"></span> 
								 <span th:case="7"><img class="emotion" alt="" src="/images/emotions/tired.png"></span> 
								 <span th:case="8"><img class="emotion" alt="" src="/images/emotions/sad.png"></span> 
								 <span th:case="9"><img class="emotion" alt="" src="/images/emotions/upset.png"></span> 
								</th:block>
							 
                                                    
                              <div th:text="${#calendars.format(freeDiary.regDate,'yyyy-MM-dd')}">2021-01-01</div>
                           
                           
                           <!-- <tr th:with="pub = ${futureDiary.pub==1 ? '공개':'비공개'}">
                              <th>공개여부</th>
                              <td th:text="${pub}">공개일기/비공개일기</td>
                           </tr> -->
                           
                           
                              
                              <table>
                              
                               <img class="image" th:if="${freeDiary.image}!=''" th:src="@{/upload/diary/freeDiary/} +${freeDiary.memberId}+@{/}+${freeDiary.id}+@{/}+ ${freeDiary.image}">
                             
                              <textarea class="content"  rows="20" cols="30" readonly th:text = "${freeDiary.content}">                      
                                 자유일기내용
                              </textarea>
                              
                              </table>
                          
                      
                  <div>
                     <a href="list">목록</a>
                     <a th:href="@{edit(id=${freeDiary.id})}">수정</a>
                     <a th:href="@{del(id=${freeDiary.id})}" onclick="if(!confirm('삭제하시겠습니까?'))return false;">삭제</a>
                   													
                  </div>
                  <div class="container">
                  
			<form id="commentForm" action="commentReg" method="post">
				<input type="hidden" name="id" th:value="${freeDiary.id}"> 
				 	
			</form>
			
		</div>
		
		
	</div>

		<div>
			<a href="list">목록</a> <a th:href="@{edit(id=${freeDiary.id})}">수정</a>
			<a th:href="@{del(id=${freeDiary.id})}"
				onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;">삭제</a>
		</div>

		<!-- comment -->
		<div th:replace="diary/freediary/comment::comment"></div>


		<div class="container">
			<!--form to reg comments -->
			<form id="commentForm" action="/diary/freeDiary/detail" method="post">
				<input type="hidden" name="freeDiaryId" th:value="${freeDiary.id}">
				<br> <br>
				<div>
					<div>
						<span><strong>Leave a comment</strong></span> <span id="cCnt"></span>
					</div>
					<div>
						<textarea id="commentBox" style="width: 85%" rows="2" cols="30"
							name="content" placeholder="댓글을 입력하세요"></textarea>
			
						<div>
							<input id="submitComment" type="submit" src="https://image.flaticon.com/icons/png/128/340/340913.png" value="저장">
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- container -->

	</section>
</main>
</html>