<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>자유일기-상세페이지</title>
<link href="/css/diary/freeDiary/comment.css" type="text/css"
	rel="stylesheet">
<script src='/js/diary/freediary/comment.js'></script>
</head>
<main id="main" layout:fragment="main">

	<section class="sectionClass">
		<table border="1">
			<tr>
				<th>오늘의 감정</th>
				<!-- <td id="emotion" colspan="3" th:text="${gratitudeDiary.emotionId}"> -->
				<td colspan="3">
					<th:block th:switch="${freeDiary.emotionId}">
						<span th:case="1"><div class="checked-emotion happy"></div></span>
						<span th:case="2"><div class="checked-emotion proud"></div></span>
						<span th:case="3"><div class="checked-emotion flutter"></div></span>
						<span th:case="4"><div class="checked-emotion calm"></div></span>
						<span th:case="5"><div class="checked-emotion sensitive"></div></span>
						<span th:case="6"><div class="checked-emotion unstable"></div></span>
						<span th:case="7"><div class="checked-emotion tired"></div></span>
						<span th:case="8"><div class="checked-emotion sad"></div></span>
						<span th:case="9"><div class="checked-emotion upset"></div></span>
					</th:block>
				</td>
			</tr>
			<tr>
				<th>첨부파일</th>
				<td colspan="3"><img style="width: 300px;"
					th:src="@{'/upload/'+ ${freeDiary.image}} "
					th:if="${freeDiary.image}!=''"></td>
			</tr>
			<tr>
				<th>작성일</th>
				<td colspan="3" th:text="${freeDiary.regDate}"></td>
			</tr>
			<tr th:with="pub = ${freeDiary.pub}==false?'비공개':'공개'">
				<th>공개선택</th>
				<td colspan="3" th:text="${pub}">공개 / 비공개</td>
			</tr>
			<tr>
				<td colspan="4" th:text="${freeDiary.content}"></td>
			</tr>
		</table>

		<div>
			<a href="list">목록</a> <a th:if="${freeDiary.memberId == member.id}" th:href="@{edit(id=${freeDiary.id})}">수정</a>
			<a th:if="${freeDiary.memberId == member.id}"  th:href="@{del(id=${freeDiary.id})}"
				onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;">삭제</a>
		</div>

		<!-- comment -->
		<div th:replace="diary/freediary/comment::comment"></div>


		<div class="container"><!--form to reg comments -->
			<form id="commentForm" action="/diary/freediary/detail" method="post">
				<input type="hidden" name="freeDiaryId" th:value="${freeDiary.id}">
				<br> <br>
				<div>
					<div>
						<span><strong>Leave a comment</strong></span> <span id="cCnt"></span>
					</div>
					<div>
						<table class="table">
							<tr>
								<td><textarea style="width: 85%" rows="3" cols="30"
										name="content" placeholder="댓글을 입력하세요"></textarea> <br>
									<div>
										<input type="submit" value="저장">
									</div></td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</div><!-- container -->

	</section>
</main>
</html>