<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>자유일기-상세페이지</title>
<link href="/css/diary/freeDiary/detail.css" type="text/css"
	rel="stylesheet">
<script src='/js/diary/freediary/detail.js'></script>
</head>
<main id="main" layout:fragment="main">

	<section class="sectionClass">
		<table border="1">
			<tr>
				<th>오늘의 감정</th>
				<!-- <td id="emotion" colspan="3" th:text="${gratitudeDiary.emotionId}"> -->
				<td colspan="3">
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='1' ? 'happy'"></div>
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='2' ? 'proud'"></div>
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='3' ? 'flutter'"></div>
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='4' ? 'calm'"></div>
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='5' ? 'sensitive'"></div>
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='6' ? 'unstable'"></div>
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='7' ? 'tired'"></div>
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='8' ? 'sad'"></div>
					<div class="div"
						th:classappend="${freeDiary.emotionId} =='9' ? 'upset'"></div>
				</td>
			</tr>
			<tr>
				<th>첨부파일</th>
				<td colspan="3"><img style="width: 300px;"
					th:src="@{'/upload/'+ ${freeDiary.image}} "
					th:if="${freeDiary.image}!=''"></td>
			</tr>
			<tr>
				<th>작성일</th>
				<td colspan="3" th:text="${freeDiary.regDate}"></td>
			</tr>
			<tr th:with="pub = ${freeDiary.pub}==false?'비공개':'공개'">
				<th>공개선택</th>
				<td colspan="3" th:text="${pub}">공개 / 비공개</td>
			</tr>
			<tr>
				<td colspan="4" th:text="${freeDiary.content}"></td>
			</tr>
		</table>

		<div>
			<a href="list">목록</a> <a th:href="@{edit(id=${freeDiary.id})}">수정</a>
			<a th:href="@{del(id=${freeDiary.id})}"
				onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;">삭제</a>
		</div>

		<div class="container">
			<form id="commentForm" action="/diary/freediary/detail" method="post">
				<input type="hidden" name="freeDiaryId" th:value="${freeDiary.id}"> <br>
				<br>
				<div>
					<div>
						<span><strong>Comments</strong></span> <span id="cCnt"></span>
					</div>
					<div>
						<table class="table">
							<tr>
								<td><textarea style="width: 85%" rows="3" cols="30"
										name="content" placeholder="댓글을 입력하세요"></textarea> <br>
									<div>
										<input type="submit" value="저장">
									</div></td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</div>
		<!-- container -->
		<!-- 댓글목록 -->
		<div id="reply">
			<ol>
				<li th:each="n:${commentList}">
				<div style="display: flex;">
				<img style="height:50px;width: 50px;border-radius: 25%; margin-right: 10px;"src="https://randomuser.me/api/portraits/lego/1.jpg">
					<div>
					<p style="color: #007bff;"th:text="${n.userId}"></p>
					<p th:text="${n.regDate}"></p>
					</div>
				</div>	
					<p th:text="${n.content}"></p>
					<a class="open-button" type="button">답글</a> 
					<a
					th:href="@{edit(id=${n.id})}">수정</a> <a id="commentDelBtn"
					th:href="@{commentdel(id=${n.id},freeDiaryId=${param.id})}"
					onclick="if(!confirm('댓글을 정말 삭제하시겠습니까?')) return false;">삭제</a>
					<ul th:if="${n.list!=null}">
						<li style="margin-left: 40px;" th:each="nc:${n.list}">

						<div id="modal" class="modal">
							<div class="modal-content">
								<span class="close">&times;</span>
								<form id="commentReg" action="/diary/freediary/detail" method="post">
									<input type="hidden" name="commentId" th:value="${n.id}">
									<input type="hidden" name="freeDiaryId" th:value="${nc.freeDiaryId}"> <br>
									<br>
									<div>
										<div>
											<span style="color: #007bff;"th:text="${nc.userId}"><strong></strong></span><span> 님에게 답글남기기</span>
										</div>
										<div>
											<textarea style="width: 85%" rows="3" cols="30" name="content"
												placeholder="댓글을 입력하세요"></textarea>
											<br>
											<div>
												<input type="submit" value="저장">
											</div>
										</div>
									</div>
								</form>
						
						
							</div>
							</div>

							<div style="display: flex;">
							<img style="height:50px;width: 50px;border-radius: 25%; margin-right: 10px;"src="https://randomuser.me/api/portraits/lego/4.jpg">
								<div>
								<p style="color: #007bff;" th:text="${nc.userId}"></p>
							<!-- <div th:replace="diary/freediary/comment::comment"></div> -->
								<p th:text="${nc.regDate}"></p>
								</div>
							</div>
							<p th:text="${nc.content}"></p> <a th:href="@{edit(id=${nc.id})}">수정</a>
							<a id="commentDelBtn"
							th:href="@{commentdel(id=${nc.id},freeDiaryId=${param.id})}"
							onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;">삭제</a>
							
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</section>
</main>
</html>