<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>자유일기-수정페이지</title>
<link href="/css/diary/modal.css" type="text/css" rel="stylesheet">
<link href="/css/diary/freeDiary/edit.css" type="text/css"
	rel="stylesheet">
<script src='/js/modal/modal.js'></script>
<script src='/js/diary/freediary/edit.js'></script>
</head>
<main id="main" layout:fragment="main">
	<section class="wrapper">

		<form class="form" action="edit" method="post"
			enctype="multipart/form-data">
			<div class="date-input">
				<lable>자유 날짜</lable>
				<div th:text="${#calendars.format(freeDiary.regDate,'yyyy-MM-dd')}"></div>
			</div>

			<div class="emotion-input">
				<th:block th:switch="${freeDiary.emotionId}">
					<span th:case="1"><div class="checked-emotion happy"></div></span>
					<span th:case="2"><div class="checked-emotion proud"></div></span>
					<span th:case="3"><div class="checked-emotion flutter"></div></span>
					<span th:case="4"><div class="checked-emotion calm"></div></span>
					<span th:case="5"><div class="checked-emotion sensitive"></div></span>
					<span th:case="6"><div class="checked-emotion unstable"></div></span>
					<span th:case="7"><div class="checked-emotion tired"></div></span>
					<span th:case="8"><div class="checked-emotion sad"></div></span>
					<span th:case="9"><div class="checked-emotion upset"></div></span>
				</th:block>
				<div id="emotion"></div>
			</div>
			<button id="open-button" type="button">감정 선택</button>
			<div th:replace="inc/modal::modal"></div>



			<img class="image" th:if="${freeDiary.image}!=''"
				th:src="@{/upload/diary/freeDiary/} +${freeDiary.memberId}+@{/}+${freeDiary.id}+@{/}+ ${freeDiary.image}"
				style="width: 90%; height: 200px;"> <img class="image"
				th:if="${freeDiary.image}==''">
			<div class="del-btn-container">
				<input class="file-del-btn" type="button">
			</div>

			<input type="file" style="display: none;" name="file">
			<div class="file-buttons">
				<button class="btn-sel"></button>
			</div>

			<select id="quetionList" name="quetionList" class="quetionList">
				<option value="" selected="selected">질문을 선택해서 일기를 작성해보세요</option>
				<div th:each="n:${list}">
					<option th:value="${n.question}" th:text="${n.question}"
						id="selectedQuestion"></option>
				</div>
			</select> <input type="hidden" value="" name="content"
				class="selectedQuestion"
				style="border: none; border-right: 0px; border-top: 0px; background-color: #F2F2F2; boder-left: 0px; boder-bottom: 0px; width: 100px; outline: none;"></input><br>

			<input class="changed" type="hidden" name="changed" value="0">
			<input type="hidden" name="originalFile"
				th:value="${freeDiary.image}">

			<div class="text-input">
				<textarea rows="20" cols="80" name="content"
					th:text="${freeDiary.content}">일기내용</textarea>
			</div>
			<div class="pub">
				<label>공개</label> 
				<input type="radio" value="1" name="pub" th:checked="${freeDiary.pub}?'true':'false'"> 
				<label class="pub-label">비공개</label> 
				<input type="radio" value="0" name="pub" th:checked="${freeDiary.pub}?'false':'true'">
			</div>

			<input type="hidden" name="id" th:value="${freeDiary.id}">

			<div class="buttons">
				<input class="button" type="submit" value="저장">
				<button type="button" class="button" onclick="location.href='list';">취소</button>
			</div>
		</form>

	</section>
</main>
</html>