<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
	<meta charset="UTF-8">
	<link href="/css/diary/freeDiary/list.css" type="text/css"
	rel="stylesheet">
	<script src="/js/infinite/infiniteScrollWith.js"></script>
	<script>

	window.addEventListener("load",()=>{
		let containerClass = ".container";
		let query = "";
		let requestUrl = "http://localhost:8080/api/diary/free";
		
		const days = ['SUN','MON','TUE','WED','THU','FRI','SAT'];
		 function returningHTML(json) {
	        	let html = "";
	        	for(n of json){
	        		console.log(n);
	        		let regDate = new Date(n.regDate);
	        		let year = regDate.getFullYear();
	        		let month = regDate.getMonth()+1;
	        		let date = regDate.getDate();
	        		let dayName = days[regDate.getDay()];
					console.log(year);
					console.log(month);
					console.log(date);
					console.log(dayName);
					let count = 0;
					let open = "https://image.flaticon.com/icons/png/128/880/880779.png";
					let close = "https://image.flaticon.com/icons/png/128/1383/1383438.png";
					let pubIcon = document.querySelector('.pubIcon');
					
	        		if(n.commentCount == null? 0 :count =n.commentCount);
	        		
	        		let src = null;
		        	if(n.pub == 1){
		        		src = open;
		        			
		        	}else{
		        		src = close;
		        	}
	        		
	        		console.log(regDate.type);
	        		//html += `<h1>{$regDate}</h1>`;
	        		html += `<div class='diary-container'>
	                    <span class="date">
                        <span class="dayName">${dayName}</span><br>
                        <span class="day">${date}</span>
                    </span>
						<div class="img-container">
							<img src="/upload/${n.image}">
                        </div>
						<a class='content' href='detail?id=${n.id}'>${n.content}</a> 
						<div class="comment">
						<span>${count}</span>
						<img style="width: 20px;" src="https://image.flaticon.com/icons/png/128/134/134819.png">
						<img class="pubIcon"style="width: 20px;margin-left: 5px;" src=${src}>

						</div>
					</div>`;
	        	}
	            
	            return html;
	        };
	     infiniteScrollWith(requestUrl, containerClass,returningHTML,query);
	        
	});
</script>
    <title>자유일기</title>
</head>
<main id="main" layout:fragment="main">

    <section class="open-lecture-content">
        <h1>일기목록</h1>
        <div class="container">
        
        </div>
       
        </section>

<!-- 	<section class="">
		<h1>자유일기</h1>
		<h3>내가 쓴 자유일기 목록</h3>
		<table class="container">
			<tr>
				<th style="width:25px;">번호</th>
				<th style="width:100px;">사진</th>
				<th>내용</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>

			<tr th:each="n:${list}">
				<td th:text="${n.id}">게시글아이디자리</td>
				<td>
				<img style="width:70px;border-radius: 15%;" th:src="@{'/upload/'+ ${n.image}} " th:if="${n.image}!=''" >
				</td>
				<td><a th:href="@{detail(id=${n.id})}" th:text="${n.content}"></a>
					<br>
					<img style="width: 15px;" src="https://image.flaticon.com/icons/png/128/1216/1216575.png">
					<img style="width: 15px;" src="https://image.flaticon.com/icons/png/128/134/134819.png">
					<span th:text="${n.count}"></span>
				</td>
				<td th:text="${n.memberId}">멤버아이디자리</td>
				<td th:text="${#calendars.format(n.regDate,'yyyy-MM-dd E')}">일기작성일자</td>
			</tr>
		</table>
		<div>
			<a href="reg">글쓰기</a>
		</div>
	</section> -->
</main>
</html>
