<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
	<meta charset="UTF-8">
    <title>자유일기</title>
</head>
<main id="main" layout:fragment="main">
	<section class="">
		<h1>자유일기</h1>
		<h3>내가 쓴 자유일기 목록</h3>
		<table>
			<tr>
				<th style="width:25px;">번호</th>
				<th style="width:100px;">사진</th>
				<th>내용</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>

			<tr th:each="n:${list}">
				<td th:text="${n.id}">게시글아이디자리</td>
				<td>
				<img style="width:70px;border-radius: 15%;" th:src="@{'/upload/'+ ${n.image}} " th:if="${n.image}!=''" >
				</td>
				<td><a th:href="@{detail(id=${n.id})}" th:text="${n.content}"></a></td>
				<td th:text="${n.memberId}">멤버아이디자리</td>
				<td th:text="${#calendars.format(n.regDate,'yyyy-MM-dd')}">일기작성일자</td>
			</tr>
		</table>
		<div>
			<a href="reg">글쓰기</a>
		</div>
	</section>
</main>
</html>
