<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.CalendarEmotionDao">

	<select id="getListCalendar" resultType="java.util.HashMap" 
								parameterType="com.oneul.web.entity.CalendarEmotion">
		SELECT DATE_FORMAT(CE.regDate, '%Y-%m-%d') AS 'start'
     	     , E.name AS 'className'	
     	     , E.name As 'selectedIcon'
          FROM oneul.CalendarEmotion CE
         INNER JOIN oneul.Emotion E ON CE.emotionId = E.id
         WHERE CE.memberId = #{memberId}
	</select>
	
	 <select id="getListDiary" resultType="com.oneul.web.entity.CalendarEmotion" 
	 							parameterType="com.oneul.web.entity.CalendarEmotion">
		select id as 'diaryId', emotionId, regDate, content1 as 'content', 'gratitudeDiary' as 'diary', memberId
		from oneul.GratitudeDiary where regDate = #{regDate} and memberId = #{memberId}
		UNION
		select id as 'diaryId', emotionId, regDate, content, 'freeDiary' as 'diary', memberId
		from oneul.FreeDiary where regDate = #{regDate} and memberId = #{memberId}
		<!-- UNION
		select id as 'diaryId', emotionId, regDate, content, 'futureDiary' as 'diary', memberId
		from oneul.FutureDiary where bookingDate = #{regDate} and memberId = #{memberId} -->
	</select>
	
   	<insert id="insertCalendar" parameterType="com.oneul.web.entity.CalendarEmotion">
   		insert into CalendarEmotion(regDate, memberId, emotionId)
   		value(#{regDate}, #{memberId}, #{emotionId})
   	</insert>
	
	<select id="selectCalEmotionCnt" resultType="int">
		select count(*) CalendarEmotion
		  from (
		  		select memberId, regDate 
		  		from FreeDiary
		  		where memberId = #{memberId} and regDate = #{regDate}
		  	union all
		  		select memberId, regDate 
		  		from GratitudeDiary
		  		where memberId = #{memberId} and regDate = #{regDate}
		  ) CalendarEmotion
	</select>
	
	<select id="selectCalEmotionPrevCnt" resultType="int">
		select count(*) CalendarEmotion
		  from (
		  		select memberId, regDate 
		  		from FreeDiary
		  		where memberId = #{memberId} and regDate = #{prevRegDate}
		  	union all
		  		select memberId, regDate 
		  		from GratitudeDiary
		  		where memberId = #{memberId} and regDate = #{prevRegDate}
		  ) CalendarEmotion
	</select>
	
	<update id="updateCalendar" parameterType="com.oneul.web.entity.CalendarEmotion">
		update CalendarEmotion
		<set>
			<if test="emotionId != null">emotionId = #{emotionId}</if>
		</set>
		where 1=1 
		  and memberId=#{memberId}
		  and regDate=#{regDate}
		  
	</update>
	
	<delete id="deleteCalendar" parameterType="com.oneul.web.entity.CalendarEmotion">
   		delete from CalendarEmotion 
   		where memberId=#{memberId} and regDate = #{regDate}	
   	</delete>
   	
   	<delete id="deleteCalendarPrev" parameterType="com.oneul.web.entity.CalendarEmotion">
   		delete from CalendarEmotion 
   		where memberId=#{memberId} and regDate = #{prevRegDate}	
   	</delete>

</mapper>