<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.FreeDiaryDao">

	<select id="get" resultType="com.oneul.web.entity.FreeDiary">
		select * from FreeDiary where id=#{id}
	</select>

	<select id="getList"
		resultType="com.oneul.web.entity.FreeDiary">
		select * from FreeDiary
	</select>

</mapper>