<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.FreeDiaryCommentDao">

    
    <select id="get" resultType="com.oneul.web.entity.FreeDiaryComment">
        select * from FreeDiaryComment where id=#{param1}
    </select>
    
    <select id="getMainList" resultType="com.oneul.web.entity.FreeDiaryComment">
		select * from FreeDiaryComment left join Member as m on m.id = FreeDiaryComment.memberid where freeDiaryId = #{param1} and commentId is null order by regDate asc
    </select>
    
    
     <select id="getSubList" resultType="com.oneul.web.entity.FreeDiaryComment">
		select * from FreeDiaryComment left join Member as m on m.id = FreeDiaryComment.memberid where commentId = #{param1} order by regDate asc
    </select>
    
    
    <select id="getCount" resultType="int">
		select count(id) from FreeDiaryComment where freeDiaryId = #{param1}
    </select>    

    
    <insert id="insert" parameterType="com.oneul.web.entity.FreeDiaryComment">
    	insert into FreeDiaryComment (content, memberId, freeDiaryId , commentId)
    	values(#{content},#{memberId},#{freeDiaryId},#{commentId});
    </insert>
    

    <delete id="delete" parameterType="int">
		delete from FreeDiaryComment where id= #{id};    
	</delete>
    
    <update id="update" parameterType="com.oneul.web.entity.FreeDiaryComment">
    	update FreeDiaryComment set content = #{content} where id=#{id}
    </update>
    
    
    
    
    
</mapper>