<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.FutureDiaryDao">
    <!-- 
    <resultMap type="com.newlecture.web.entity.Notice" id="noticeMap">    
        <result column="writer_id" property="writerId"/>
        <result column="reg_date" property="regDate"/>
    </resultMap>
     -->
    
    <select id="getList" resultType="com.oneul.web.entity.FutureDiary">
    	select * from FutureDiary
    	order by regdate desc
        LIMIT #{size} offset #{offset}
    </select>
    
    <select id="get" resultType="com.oneul.web.entity.FutureDiary">
    	select * from FutureDiary
    	where id = #{id}
    </select>
    
    <insert id="insert" parameterType="com.oneul.web.entity.FutureDiary">
    	insert into FutureDiary(memberId,bookingDate, content)
    	values(#{memberId},#{bookingDate},#{content})
    </insert>
    
    <delete id="delete">
    	delete from FutureDiary where id=#{id};
    </delete>
    
    <update id="update" parameterType="com.oneul.web.entity.FutureDiary">
    	update FutureDiary
    	<set>
    	<if test="emotionId != null">emotionId = #{emotionId},</if>		
    	<if test="bookingDate != null">bookingDate = #{bookingDate},</if>
    	<if test="content != null">content = #{content},</if>
    	<if test="pub != null">pub = #{pub}</if>
    	</set>
    	where id=#{id}
    </update>
   
   
    
</mapper>