<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.GratitudeDiaryDao">

	<select id="get" resultType="com.oneul.web.entity.GratitudeDiary">
		select * from GratitudeDiary where id=#{id}
	</select>
	<select id="getList" resultType="com.oneul.web.entity.GratitudeDiary">
		select * from GratitudeDiary order by regdate desc
		<!-- limit #{size} offset #{offset}-->
	</select>
	
	<insert id="insertDiary" parameterType="com.oneul.web.entity.GratitudeDiary">
   		insert into GratitudeDiary(content1, content2, content3, pub, memberId, emotionId)
   		value(#{content1},#{content2},#{content3},#{pub},#{memberId},#{emotionId})
   	</insert>
   	
   	<insert id="insertCalendar" parameterType="com.oneul.web.entity.CalendarEmotion">
   		insert into CalendarEmotion(regDate, memberId, emotionId)
   		value(#{regDate}, #{memberId}, #{emotionId})
   	</insert>
   	
   	
   	<delete id="delete" parameterType="int">
   		delete from GratitudeDiary where id=#{id}
   	</delete>
   	
   	<update id="updateDiary" parameterType="com.oneul.web.entity.GratitudeDiary">
		update GratitudeDiary
		<set>
			<if test="emotionId != null">emotionId = #{emotionId},</if>
			<if test="content1 != null">content1 = #{content1},</if>
			<if test="content2 != null">content2 = #{content2},</if>
			<if test="content3 != null">content3 = #{content3},</if>
			<if test="pub != null">pub = #{pub}</if>
		</set>
		where id=#{id}
	</update>
	
	<select id="selectCalEmotionCnt" parameterType="com.oneul.web.entity.CalendarEmotion">
		select count(*) 
		  from CalendarEmotion
		 where 1=1
		   and regDate = #{regDate}
		   and memberId = #{memberId}
	</select>
	
	
	<update id="updateCalendar" parameterType="com.oneul.web.entity.CalendarEmotion">
		update CalendarEmotion
		<set>
			<if test="emotionId != null">emotionId = #{enotionId}</if>
		</set>
		where 1=1 
		  and memberId=#{memberId}
		  and regDate=#{regDate}
		  
	</update>

</mapper>