<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.GratitudeDiaryCommentDao ">

    
    <select id="get" resultType="com.oneul.web.entity.GratitudeDiaryComment">
        select * from GratitudeDiaryComment where id=#{param1}
    </select>
    
    <select id="getMainList" resultType="com.oneul.web.entity.GratitudeDiaryComment">
		select * from GratitudeDiaryComment where gratitudeDiaryId = #{param1} and commentId is null order by regDate asc
    </select>
    
    
     <select id="getSubList" resultType="com.oneul.web.entity.GratitudeDiaryComment">
		select * from GratitudeDiaryComment where commentId = #{param1} order by regDate asc
    </select>
    
    
    <select id="getCount" resultType="int">
		select count(id) from GratitudeDiaryComment where gratitudeDiaryId = #{param1}
    </select>    

    
    <insert id="insert" parameterType="com.oneul.web.entity.GratitudeDiaryComment">
    	insert into GratitudeDiaryComment (content, memberId, gratitudeDiaryId , commentId)
    	values(#{content},#{memberId},#{gratitudeDiaryId},#{commentId});
    </insert>
    

    <delete id="delete" parameterType="int">
		delete from GratitudeDiaryComment where id= #{id};    
	</delete>
    
    <update id="update" parameterType="com.oneul.web.entity.GratitudeDiaryComment">
    	update GratitudeDiaryComment content = #{content} where id=#{id}
    </update>
    
    
    
    
    
</mapper>