<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.GratitudeDiaryDao">

	<insert id="insert" parameterType="com.oneul.web.entity.GratitudeDiary">
   		insert into GratitudeDiary(content, image, pub, memberId, emotionId)
   		value(#{content},#{image},#{pub},#{memberId},#{emotionId})
   	</insert>
   	
   	<delete id="delete" parameterType="int">
   		delete from GratitudeDiary where id=#{id}
   	</delete>


</mapper>