<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.OnelineDao">
	
    <select id="get" resultType="com.newlecture.web.entity.Notice">
        select * from Notice where id=#{id}
    </select>
    <select id="getList" resultType="com.newlecture.web.entity.Notice">
        select * from Notice 
        <where>
        <if test="field != null">
        	${field} like '%${query}%'
        </if>
        	and hit=0
        </where>
        order by regdate desc
        LIMIT #{size} offset #{offset}
    </select>
    
    <select id="getViewList" resultType="com.newlecture.web.entity.NoticeView">
        select * from NoticeView where ${param2} like '%${param3}%'
        order by regdate desc
    </select>
    
    <select id="getCount" resultType="int">
    	select count(id) from Notice
    	where ${param1} like ='%${param2}%'
    </select>
    
    <insert id="insert" parameterType="com.newlecture.web.entity.Notice">
    	insert into Notice(title, content, writerId)
    	values(#{title},#{content},#{writerId})
    </insert>
    
    <delete id="delete" parameterType="int">
    	delete from Notice where id=#{id}
    </delete>
    
    <update id="update" parameterType="com.newlecture.web.entity.Notice">
    	update Notice
    <set>
		<if test= "title != null">title = #{title},</if>
		<if test = "writerId != null">writerId = #{writerId},</if>
		<if test ="content != null">content = #{content},</if>
		<if test= "hit != null">hit = #{hit},</if>
		<if test= "files != null">files = #{files},</if>
		<if test= "pub != null">pub = #{pub}</if>
    </set>
    where id=#{id}
    </update>
    
    
    
    
    
</mapper>