<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneul.web.dao.PublicDiaryDao">
	
    <select id="get" resultType="com.oneul.web.entity.PublicDiary">
        select * from PublicDiary where id=#{id}
    </select>
    
    <select id="getList" resultType="com.oneul.web.entity.PublicDiary">
        select d.*,
      (select count(id) from OnelineComment where onelineId = d.id) count
      from Oneline d 
        order by regdate desc
      LIMIT #{size} offset #{offset};
    </select>
    
    <insert id="insert"
		parameterType="com.oneul.web.entity.PublicDiary">
		insert into Oneline(content, memberId, writerId, image)
		values(#{content},#{memberId},#{writerId},#{image})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from Oneline where id=#{id}
	</delete>
	
	<update id="update"
		parameterType="com.oneul.web.entity.PublicDiary">
		update Oneline
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="content != null">content = #{content},</if>
			<if test="content != null">content = #{content},</if>
			<if test="memberId != null">memberId = #{memberId},</if>
			<if test="regDate != null">regDate = #{regDate}</if>
		</set>
		where id=#{id}
	</update>
	
	
    
</mapper>