* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
}

.d-none{
    display: none;
}

/* ---------------ÇÇµå------------------------------------ */
.box {
	margin-bottom: 30px
}

.profile {
	display: grid;
	height: 50px;
	grid-template-columns: 60px 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "img nickname edit" "img date del";
	margin-bottom: 5px;
	align-items: center;
}

.profile-image {
	grid-area: img;
	width: 100%;
	height: 100%;
}

.user-name {
	grid-area: nickname;
	font-size: 12px;
	font-weight: bold;
	
}

.edit {
	grid-area: edit;
	justify-self: end; 
}

.del {
	grid-area: del;
	justify-self: end;
}

.date {
	grid-area: date;
	font-size: 12px;
}

.img {
	object-fit: cover;
	width: 100%;
}

#wrapper {
	width: 100%;
	position: relative;
	background-color: #F2F2F2;
	height: 100%;
}

#main {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	height: 100%;
	padding: 10px;
	/* background-color: white; */
	border-radius: 8px;
}

.txt {
	width: 400px;
	height: 100%;
	line-height: 100%;
	white-space: normal;
	/* word-break: break-all; */
	padding: 10px;
}

.content {
	background-color: white;
	border-radius: 8px;
	padding: 10px;
	width: 100%;
	height: 100%;
}

/*-----------------´ñ±Û--------------------------------*/
#comment-txt {
	margin-top: 10px;
	width: 100%;
	height: 60px;
}

#btn {
	margin-top: 5px;
}

.btn-box {
	position: relative;
	right: 80px;
	top: 20px;
	display: inline;
}

.reg-img {
	width: 50px;
	height: 50px;
}