* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
}

.d-none{
    display: none;
}

.line{
    border: 3px solid #f0f3ea;
    margin-top: 5px;
}

.review-attr{
	padding: 10px 0px 10px 0px;
}


/*  */
.box{ 
    display: flex;
    padding: 10px 10px 10px 14px; 
}

.txt{ 
    height: 29px;
}

#commentBox{
	width: 100%;
	
	border-radius: 0!important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #42a5f5;
    resize: none;
    overflow: hidden;
}

.button{
  font-size:12px;
  font-family:Arial;
  width:60px;
  height:25px;
  border-width:1px;
  color:rgba(74, 74, 74, 1);
  border-color:rgba(195, 193, 191, 0.69);
  font-weight:bold;
  border-radius:10px;
  text-shadow: 1px 1px 0px rgba(248, 241, 229, 1);
  background:white;
  margin-right: 5px;
}

textarea:focus { 
     outline: none;
}


/* ---------------ÇÇµå------------------------------------ */	
#wrapper{
	margin-bottom: 30px;
	width: 100%;
	/* position: relative; */
	background-color: #F2F2F2;
	/* padding-bottom: 50px; */
	height: 90%;
}

.profile {
	display: grid;
	height: 50px;
	grid-template-columns: 60px 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"img nickname edit" 
	"img date del";
	align-items: center;
	padding: 10px;
}

.profile-image {
	grid-area: img;
	width: 80%;
	height: 80%;
	border-radius: 70%;
}

.user-name {
	grid-area: nickname;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 14px;
}

.edit {
	grid-area: edit;
	justify-self: end; 
}

.del {
	grid-area: del;
	justify-self: end;
}

.date {
	grid-area: date;
	font-size: 12px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.img {
	object-fit: cover;
	width: 100%;
}

#main {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 90%;
	height: 85%;
	padding-top: 10px;
	/* background-color: white; */
	border-radius: 8px;
}

/* .txt {
	width: 400px;
	height: 100%;
	line-height: 100%;
	white-space: normal;
	word-break: break-all;
	padding: 10px;
} */

.content {
	background-color: white;
	border-radius: 8px;
	/* padding: 10px; */
	width: 100%;
	height: 100%;
}

.bold{
	padding: 2px;
	background: #d6d5d3;
}

.onelineId{
	position: absolute;
	left: 80%;
}

.content-text{
	margin-bottom: 30%;
	padding: 10px
}


.cancel-img{
	width: 40px;
	height: 40px;
	position: relative;
	left: 10px;	
	z-index: 10;
	
}




/*-----------------´ñ±Û--------------------------------*/
/* 
.line-comment{
	border: 1px solid #f0f3ea;
    margin-top: 5px;
}

.profile-comment {
	display: grid;
	height: 50px;
	grid-template-columns: 60px 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"img nickname edit" 
	"img date del";
	align-items: center;

}

.profile-image-comment{
	grid-area: img;
	width: 60%;
	height: 60%;
	border-radius: 70%;
	justify-self: center; 
}


.content-text-comment{
	padding: 5px 60px 0px 60px;
	
}

.comment-box{
	padding: 0px 15px 15px 15px;
}


#btn {
	margin-top: 5px;
}

.btn-box {
	position: relative;
	right: 10px;
	display: inline;
	
}

.reg-img {	
	width: 100px;
	height: 50px;
}

.txt{
	width: 100%; 
}

.user-name-c{
	font-size: 12px;
	font-weight: bold;
	grid-area: nickname;
    margin-top: 7px;
    margin-left: 0px;
}

.date-c{
	font-size: 10px;
	grid-area: date;
    margin-left: 0px;
    margin-bottom: 7px;
} */

