*{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}



/* ---------------ÇÇµå------------------------------------ */


#wrapper{
    
    width: 100%;
    position: relative;
    background-color: #F2F2F2;
    height: 90%;

}

#main{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 85%;
    height: 100%;
    padding: 10px;
    /* background-color: white; */
    border-radius: 8px;
}

.txt{
    width: 100%;
   height: 90%;
    line-height: 100%;
    white-space: normal;
    /* word-break: break-all; */
    padding: 10px;

}

.content{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    height: 85%;
    /* margin-top: 10px; */
}

.cancel-img{
	width: 40px;
	height: 40px;
	position: fixed;
	top: 5px;
	left: 10px;
}


/*-----------------´ñ±Û--------------------------------*/
#comment-txt{
    margin-top: 10px;
    width: 100%;
    height: 60px;
}

#btn{
    margin-top: 5px;
}

.btn-box{
    position: relative;
    right: 80px;
    top: 20px;
    display: inline;
}

.reg-img{
    width: 50px;
    height: 50px;
}