* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #bcbeb7;
}

.d-none{
    display: none;
}

.line{
    border: 3px solid #f0f3ea;
    margin-top: 5px;
}

.review-attr{
	padding: 10px 0px 10px 0px;
}



/* ---------------ÇÇµå------------------------------------ */	
#wrapper{
	margin-bottom: 30px
}

.profile {
	display: grid;
	height: 50px;
	grid-template-columns: 60px 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"img nickname edit" 
	"img date del";
	align-items: center;
	padding: 10px;
}

.profile-image {
	grid-area: img;
	width: 80%;
	height: 80%;
	border-radius: 70%;
}

.user-name {
	grid-area: nickname;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
}

.edit {
	grid-area: edit;
	justify-self: end; 
}

.del {
	grid-area: del;
	justify-self: end;
}

.date {
	grid-area: date;
	font-size: 12px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.img {
	object-fit: cover;
	width: 100%;
}

#wrapper {
	width: 100%;
	position: relative;
	background-color: #F2F2F2;
	height: 100%;
}

#main {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 90%;
	height: 100%;
	padding-top: 10px;
	/* background-color: white; */
	border-radius: 8px;
}

.txt {
	width: 400px;
	height: 100%;
	line-height: 100%;
	white-space: normal;
	/* word-break: break-all; */
	padding: 10px;
}

.content {
	background-color: white;
	border-radius: 8px;
	/* padding: 10px; */
	width: 100%;
	height: 100%;
}

.bold{
	padding: 2px;
	background: #d6d5d3;
}

.onelineId{
	position: absolute;
	left: 80%;
}

.content-text{
	margin-bottom: 30%;
	padding: 10px
}

/*-----------------´ñ±Û--------------------------------*/

.line-comment{
	border: 1px solid #f0f3ea;
    margin-top: 5px;
}

.profile-comment {
	display: grid;
	height: 50px;
	grid-template-columns: 60px 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"img nickname edit" 
	"img date del";
	align-items: center;

}

.profile-image-comment{
	grid-area: img;
	width: 60%;
	height: 60%;
	border-radius: 70%;
	justify-self: center; 
}


.content-text-comment{
	padding: 5px 60px 0px 60px;
	
}

.comment-box{
	padding: 0px 15px 15px 15px;
}


#btn {
	margin-top: 5px;
}

.btn-box {
	position: relative;
	right: 10px;
	display: inline;
	
}

.reg-img {	
	width: 100px;
	height: 50px;
}

.txt{
	width: 100%; 
}

.user-name-c{
	font-size: 12px;
	font-weight: bold;
	grid-area: nickname;
    margin-top: 7px;
    margin-left: 0px;
}

.date-c{
	font-size: 10px;
	grid-area: date;
    margin-left: 0px;
    margin-bottom: 7px;
}

