html {
    scroll-behavior: smooth;
  }

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	
}



.d-none {
	display: none;
}

/* ---------------피드------------------------------------ */


.profile {

	height: 50px;
	grid-template-columns: 60px 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "img nickname edit" "img date del";
	margin-bottom: 5px;
	align-items: center;
}

.profile-image {
	grid-area: img;
	width: 80%;
	height: 80%;
	border-radius: 60%;
}

.user-name {
	grid-area: nickname;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
}

.edit {
	grid-area: edit;
	justify-self: end;
}

.del {
	grid-area: del;
	justify-self: end;
}

.date {
	grid-area: date;
	font-size: 12px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.img {
	object-fit: cover;
	width: 100%;
}

#wrapper {
	width: 100%;
	position: relative;
	background-color: #F2F2F2;
	height: 90%;
}

#main {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 90%;
	height: 100%;
	padding: 10px;
	/* background-color: white; */
	border-radius: 8px;
}

.txt {
	width: 400px;
	height: 100%;
	line-height: 100%;
	white-space: normal;
	/* word-break: break-all; */
	padding: 10px;
}


.content-box{
	padding-bottom: 50px;
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {	
	border-radius: 8px;
	/* padding: 10px; */
	width: 140px;
	height: 160px;
	background-repeat: no-repeat;
	background-size: cover;
/* 	background-image: url("/upload/profile/basic.jpg"); */
	position: relative;
	background-color: #efe9df;
}
.box-e {
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 20%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;

}

.bold {
	padding: 2px;
	background: #d6d5d3;
}

.content-text {
	margin-bottom: 15px;
	white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}



.link-item{
	display: flex;
	justify-content: space-around;
	padding-bottom: 5px;
	font-size: 12px;
}

.oneline-link{
	font-size: 1.5em;	
	color: var(--color-basic);
}

.pub-link{
	font-size: 1.5em;
	font-weight: bold;
	color: #585252;
}

.white-box{
	
	background-color: #f0e4e4;
	background: rgba(255, 255, 255, 0.75);
	/* height: 70%; */
	position: absolute;
	width: 100%;
	bottom: 0;	
	Border-bottom-left-radius: 8px;
	Border-bottom-right-radius: 8px;
	
    font-weight: bold;
	
}

 a {
	color:black;
    
}

.diary-img{
	  object-fit: cover;
	
}


/*-------------감정-----------*/
.emotionbtn{
/* 	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px; */
}

*{
    margin:0; 
    padding:0;
}

ul{
    list-style:none;
}

a{
    text-decoration:none; 
    color:inherit;
}

#box{
    max-width:960px; 
    width:100%; 
    margin:0 auto;
}

#tab ul{
    white-space:nowrap; 
    overflow-x: auto; text-align:center
}

#tab ul li{
    display:inline-block; 
    padding: 0px 5px 5px 10px;;
  
}



/*----------------------------------------  */


.happy, 
.proud, 
.flutter, 
.calm, 
.sensitive, 
.unstable, 
.tired, 
.sad, 
.upset{
	width: 5em;
	height: 5em;
	margin-left: auto;
	margin-right: auto;
} 

/*-----------------댓글--------------------------------*/
#comment-txt {
	margin-top: 10px;
	width: 100%;
	height: 60px;
}

#btn {
	margin-top: 5px;
}

.btn-box {
	position: relative;
	right: 10px;
	display: inline;
}

.reg-img {
	width: 100px;
	height: 50px;
	position: fixed;
	z-index: 1;
	right: 0%;
	bottom: 10%;
}

.scroll-box {
	position: relative;
	right: 10px;
	display: inline;
}

.scroll-img {
	width: 100px;
	height: 50px;
	position: fixed;
	z-index: 1;
	right: 0%;
	bottom: 10%;
}



.pub-img {
	width: 50px;
	height: 50px;
}

.txt {
	width: 100%;
}






