@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+KR:wght@200;400;600&display=swap');

 
html,body{
    height: 100%;
    background-color:#f7f7f7;
    
}

html,body,h1,ul,ol{
    margin:0;
    padding:0;

}

a{
    color:initial;
    text-decoration: initial;
}

ul,ol{
    list-style: none;
}
/* --- common(base) style ----------------------------------------- */
:root{
    --color-basic:#979797;
    --color-strong:#ff6a00;
    --bg-color-basic:#fff;
    --bg-color-light:#e9e9e9;
    --bg-color-dark:#313131;
    --bd-color-basic:#e9e9e9;
    /* --color-dark: */
}

@font-face {
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-family: 'S-CoreDream-3Light';
     font-weight: normal;
     font-style: normal;
}
textarea{
	
    font-family: 'S-CoreDream-3Light';
}


body{
	font-family: 'S-CoreDream-3Light';
     font-weight: normal;
     font-style: normal;
	/* font-family: 'Noto Serif KR', serif; */
    /* font-family: "°íµñ", Arial, Helvetica, sans-serif; */
	/* transform: rotate(-0.03deg); */
    font-weight: 200;
    font-size: 11px;
    color:var(--color-basic);
}

a{
    color:var(--color-basic);
}

/* ---- utils style ------------------------------------------------ */
.d-none{
    display: none !important;
}
/*-----------------------------------*/
#header{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;

    padding: 0;
    background-color:#F8F1E5;
    position: fixed;
    width: 100%;
    z-index: 100;
   	top:0;
}

.logo{
	width:80px;
	height:auto;
}
#main{
    height: 84%;
    position: relative;
    top: 50px;
    overflow: scroll;
    font-size: 13px;
}

/* The navigation bar */
#navbar {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #F8F1E5
}
  #navbar a {
    float: left;
    display: block;
    color: #fdf7f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.select-diary div {
	margin: 10px;
	text-align: center;
	font-size: 15px;
}

/* Change background on mouse-over */
#navbar a:hover {
	background: #ddd;
	color: black;
}

/*table */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 8px;
	height: 2rem;
}

tr {
	border: 1px solid #ddd;
}