<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="./inc/layout">
<head>
<meta charset="UTF-8">
<link href="/css/diary/list.css" type="text/css" rel="stylesheet">
<title>Oneul</title>
</head>
<main id="main" layout:fragment="main">

    <section class="section">

        
       <div class="select-diary">
           <div class = "menu" onclick="location.href='/diary/freeDiary/list'">
	           <div class="explain"></div>
	           <a class="title" href="/diary/freeDiary/list">자유일기</a>       
	           <img class="arrow-right" src="/images/icon/arrow-right.png">
           </div>
           
           <div class = "menu" onclick="location.href='/diary/gratitudeDiary/list'">
          	   <div class="explain"></div>
	       		<a class="title" href="/diary/gratitudeDiary/list">감사일기</a>
	           <img class="arrow-right" src="/images/icon/arrow-right.png">
           </div>
           
           <div class = "menu" onclick="location.href='/diary/futureDiary/list'">
           		<div class="explain"></div>
	           <a class="title" href="/diary/futureDiary/list">미래일기</a>
	           <img class="arrow-right" src="/images/icon/arrow-right.png">
           </div>
        </div>


        
    </section>  
</main>
</html>