<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
    <meta charset="UTF-8">
    <title>gratitudeDiary detail</title>
    <link href="/css/emotion.css" type="text/css" rel="stylesheet">
</head>

<!-- ----------------main부분------------------- -->
	<main id="main" layout:fragment="main">
		<section class="">
			<table border="1">
				<tr>
					<th>오늘의 감정</th>
					<!-- <td id="emotion" colspan="3" th:text="${gratitudeDiary.emotionId}"> -->
					<td colspan="3">
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='1' ? 'happy'"></div>
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='2' ? 'proud'"></div>
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='3' ? 'flutter'"></div>
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='4' ? 'calm'"></div>
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='5' ? 'sensitive'"></div>
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='6' ? 'unstable'"></div>
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='7' ? 'tired'"></div>
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='8' ? 'sad'"></div>
						<div class="div" th:classappend="${gratitudeDiary.emotionId} =='9' ? 'upset'"></div>
					</td>
				</tr>
				<tr>
					<th>작성일</th>
					<td colspan="3" th:text="${#calendars.format(gratitudeDiary.regDate, 'yyyy-MM-dd a hh:mm:ss')}">작성일자</td>
				</tr>
				<tr th:with="pub = ${gratitudeDiary.pub}==false?'비공개':'공개'">
					<th>공개여부</th>
					<td colspan="3"	th:text="${pub}">공개 / 비공개</td>
				</tr>
			</table>		
				
				
			<table>	
				
				<th>오늘의 감사한 일 :</th>
				<tr>
					<td colspan="4" th:text="${gratitudeDiary.content1}"></td>		
				</tr>
				<th>오늘 나에게 일어난 멋진 일 :</th>
				<tr>
					<td colspan="4" th:text="${gratitudeDiary.content2}"></td>
				</tr>
				<th>나를 위한 긍정의 한 줄! :</th>
				<tr>
					<td colspan="4" th:text="${gratitudeDiary.content3}"></td>		
				</tr>
						
						
				
			</table>
			<div>
				<a href="list">목록</a> 
				<a th:href="@{edit(id=${gratitudeDiary.id})}">수정</a>
				<a th:href="@{del(id=${gratitudeDiary.id})}"
					onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;">삭제</a>
			</div>

		</section>
	</main>

</html>