<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
    <meta charset="UTF-8">
    <title>gratitudeDiary detail</title>
    <link href="/css/emotion.css" type="text/css" rel="stylesheet">
    <link href="/css/diary/gratitudeDiary/detail.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href='/css/diary/gratitudeDiary/comment.css' type="text/css">
	<script src='/js/diary/gratitudeDiary/comment.js'></script>
	<script src='/js/diary/dotMenu.js'></script>
</head>

<!-- ----------------main부분------------------- -->
	<main id="main" layout:fragment="main">
		<section class="">
		<section class="upside-container-edit">
			<h1 class="d-none">edit버튼</h1>
			<img th:if="${gratitudeDiary.memberId == member.id}" class="upside-container-edit-img" src="/images/icon/dots.png" alt="config-icon">
			<div class="upside-container-edit-box d-none">
				<div class="upside-container-edit-item"><a th:href="@{edit(id=${gratitudeDiary.id})}">수정</a></div>
				<div class="upside-container-edit-item"><a th:href="@{del(id=${gratitudeDiary.id})}" onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;">삭제</a></div>
			</div>
		</section>
			<div class="emotion">
				<th:block th:switch="${gratitudeDiary.emotionId}">
					<span th:case="1"><div class="checked-emotion happy"></div></span>
					<span th:case="2"><div class="checked-emotion proud"></div></span>
					<span th:case="3"><div class="checked-emotion flutter"></div></span>
					<span th:case="4"><div class="checked-emotion calm"></div></span>
					<span th:case="5"><div class="checked-emotion sensitive"></div></span>
					<span th:case="6"><div class="checked-emotion unstable"></div></span>
					<span th:case="7"><div class="checked-emotion tired"></div></span>
					<span th:case="8"><div class="checked-emotion sad"></div></span>
					<span th:case="9"><div class="checked-emotion upset"></div></span>
				</th:block>
			</div>
			<div>
				<div class="date" th:text="${#calendars.format(gratitudeDiary.regDate, 'yyyy-MM-dd')}">작성일자</div>
			</div>
				
			<div class="content-container">
				<div class="question">오늘의 감사한 일 :</div>
				<div class="content" th:text="${gratitudeDiary.content1}"></div>		
				<div class="question">오늘 나에게 일어난 멋진 일 :</div>
				<div class="content" th:text="${gratitudeDiary.content2}"></div>
				<div class="question">나를 위한 긍정의 한 줄! :</div>
				<div class="content" th:text="${gratitudeDiary.content3}"></div>		
			</div>		
					
				<!-- <tr th:with="pub = ${gratitudeDiary.pub}==false?'비공개':'공개'">
					<th>공개여부</th>
					<td colspan="3"	th:text="${pub}">공개 / 비공개</td>
				</tr> -->
			
			<div class="buttons">
				<button class="button" type=button><a href="list">목록</a></button>
				
			</div>
			
			<!-- comment -->
			<div th:replace="diary/gratitudeDiary/comment::comment"></div>
	
	
			<div class="container"><!--form to reg comments -->
				<form id="commentForm" action="/diary/gratitudeDiary/detail" method="post">
					<input type="hidden" name="gratitudeDiaryId" th:value="${gratitudeDiary.id}">
					
					<div>
						<div>
<!-- 							<span><strong>Leave a comment</strong></span>  -->
							<span id="cCnt"></span>
						</div>
						
						<div>
						<!-- 댓글창 -->
							<span class="box">
								<textarea id="commentBox" class="txt" style="width: 100%" rows="3" cols="30"
								name="content" placeholder="댓글을 입력하세요"></textarea>
                   		<div>
							<input type="submit" class="button" value="저장">
						</div>
               				 </span>
						
						
							<!-- <table class="table">
								<tr>
									<td class="comment-container">
									<textarea name="content" placeholder="댓글을 입력하세요"></textarea> <br>
										<div >
											<input class="button" type="submit" value="저장">
										</div>
									</td>
								</tr>
							</table> -->
						</div>
					</div>
				</form>
			</div><!-- container -->

		</section>
	</main>

</html>