<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
    <meta charset="UTF-8">
    <title>gratitudeDiary edit</title>
    <link href="/css/diary/modal.css" type="text/css" rel="stylesheet">
    <script src='/js/modal/modal.js'></script>
</head>

<!-- ----------------main부분------------------- -->
	<main id="main" layout:fragment="main">
		<form action="edit" method="post">
			<input type="hidden" name="id" th:value="${gratitudeDiary.id}">
			<table border="1">
				<tr>
					<th>오늘의 감정</th>
					<td colspan="3">
						<th:block th:switch="${gratitudeDiary.emotionId}">
							<span th:case="1"><div class="checked-emotion happy"></div></span>
							<span th:case="2"><div class="checked-emotion proud"></div></span>
							<span th:case="3"><div class="checked-emotion flutter"></div></span>
							<span th:case="4"><div class="checked-emotion calm"></div></span>
							<span th:case="5"><div class="checked-emotion sensitive"></div></span>
							<span th:case="6"><div class="checked-emotion unstable"></div></span>
							<span th:case="7"><div class="checked-emotion tired"></div></span>
							<span th:case="8"><div class="checked-emotion sad"></div></span>
							<span th:case="9"><div class="checked-emotion upset"></div></span>
						</th:block>

						<div id="emotion"></div>
   						<button id="open-button" type="button">감정 선택</button> 
   						
						<div th:replace="inc/modal::modal"></div>
										
					</td>
				</tr>
				
				<tr>
					<th>날짜변경</th>
					<td>
						<div th:text="${#calendars.format(gratitudeDiary.regDate, 'yyyy-MM-dd')}"></div>
						<br>
						<span>변경할 날짜 : </span><input type="date" name="regDate">
					</td>
				</tr>
				
				<tr>
					<th>공개선택</th>
					<td colspan="3">
						<label>공개</label>
						<input type="radio" value="1" name="pub" th:checked="${gratitudeDiary.pub}?'true':'false'">
						<label>비공개</label>
						<input type="radio" value="0" name="pub" th:checked="${gratitudeDiary.pub}?'false':'true'">
					</td>
				</tr>

				<tr>
					<td colspan="4">
						<br>
						<div>오늘의 감사한 일 :  </div>
						<br>
						<textarea rows="5" cols="50" name="content1" 
									th:text="${gratitudeDiary.content1}">첫번째 감사</textarea>
						<br><br>
						<div>오늘 나에게 일어난 멋진 일 : </div>
						<br>
						<textarea rows="6" cols="50" name="content2" 
									th:text="${gratitudeDiary.content2}">두번째 감사</textarea>
						<br><br>
						<div>나를 위한 긍정의 한 줄! :</div>
						<br>
						<textarea rows="6" cols="50" name="content3" 
									th:text="${gratitudeDiary.content3}">세번째 감사</textarea>
					</td>
				</tr>

			</table>

			<div>
				<input type="submit" value="저장"> 
				<a href="list">취소</a>
			</div>
		</form>

	</main>

</html>