<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
    <meta charset="UTF-8">
    <title>gratitudeDiary edit</title>
</head>

<!-- ----------------main부분------------------- -->
	<main id="main" layout:fragment="main">
		<form action="edit" method="post">
			<input type="hidden" name="id" th:value="${gratitudeDiary.id}">
			<table border="1">
				<tr>
					<th>감정선택</th>
					<td colspan="3">
						<label>행복</label><input type="radio" value="1" name="emotionId">
						<label>뿌듯</label><input type="radio" value="2" name="emotionId">
						<label>설렘</label><input type="radio" value="3" name="emotionId">
						<label>평온</label><input type="radio" value="4" name="emotionId">
						<label>에민</label><input type="radio" value="5" name="emotionId">
						<label>불안</label><input type="radio" value="6" name="emotionId">
						<label>피곤</label><input type="radio" value="7" name="emotionId">
						<label>슬픔</label><input type="radio" value="8" name="emotionId">
						<label>화남</label><input type="radio" value="9" name="emotionId">				
					</td>
				</tr>
				
				<tr>
					<th>공개선택</th>
					<td colspan="3">
						<label>공개</label><input type="radio" value="1" name="pub">
						<label>비공개</label><input type="radio" value="0" name="pub" checked>
					</td>
				</tr>

				<tr>
					<td colspan="4">
						<br>
						<div>오늘의 감사한 일 :  </div>
						<br>
						<textarea rows="5" cols="50" name="content1" 
									th:text="${gratitudeDiary.content1}">첫번째 감사</textarea>
						<br><br>
						<div>오늘 나에게 일어난 멋진 일 : </div>
						<br>
						<textarea rows="6" cols="50" name="content2" 
									th:text="${gratitudeDiary.content2}">두번째 감사</textarea>
						<br><br>
						<div>나를 위한 긍정의 한 줄! :</div>
						<br>
						<textarea rows="6" cols="50" name="content3" 
									th:text="${gratitudeDiary.content3}">세번째 감사</textarea>
					</td>
				</tr>

			</table>

			<div>
				<input type="submit" value="저장"> 
				<a href="list">취소</a>
			</div>
		</form>

	</main>

</html>