<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
    <meta charset="UTF-8">
    <title>Oneul-감사일기</title>
    <link href="/css/diary/modal.css" type="text/css" rel="stylesheet">
    <link href="/css/diary/gratitudeDiary/reg.css" type="text/css" rel="stylesheet">
    <script src='/js/modal/modal.js'></script>
</head>

<!-- ----------------main부분------------------- -->
	<main id="main" layout:fragment="main">
		<section class="wrapper">
			<form class="form" action="edit" method="post">
				<input type="hidden" name="id" th:value="${gratitudeDiary.id}">
				<input type="hidden" name="memberId" th:value="${gratitudeDiary.memberId}">
				
				<div class="date">
					<label>날짜 변경</label>
					<input type="hidden" name="prevRegDate" 
									th:value="${#calendars.format(gratitudeDiary.regDate, 'yyyy-MM-dd')}">				
					<input type="date" name="regDate" 
									th:value="${#calendars.format(gratitudeDiary.regDate, 'yyyy-MM-dd')}">
				</div>
				
				<div class="emotion-box">
					<label>지금 당신의 감정을 알려주세요</label>
					<input type="hidden" name="prevEmotionId" th:value="${gratitudeDiary.emotionId}">
					<th:block th:switch="${gratitudeDiary.emotionId}">
						<span th:case="1"><div class="checked-emotion happy"></div></span>
						<span th:case="2"><div class="checked-emotion proud"></div></span>
						<span th:case="3"><div class="checked-emotion flutter"></div></span>
						<span th:case="4"><div class="checked-emotion calm"></div></span>
						<span th:case="5"><div class="checked-emotion sensitive"></div></span>
						<span th:case="6"><div class="checked-emotion unstable"></div></span>
						<span th:case="7"><div class="checked-emotion tired"></div></span>
						<span th:case="8"><div class="checked-emotion sad"></div></span>
						<span th:case="9"><div class="checked-emotion upset"></div></span>
					</th:block>
					<div id="emotion"></div>
					<button id="open-button" type="button">감정 선택</button> 
					<div th:replace="inc/modal::modal"></div>
				</div>
						
				<div class="contents">
					<label class="content-label">오늘하루 감사한 일들을 적어보세요</label>
					<div class="question">오늘의 감사한 일 :  </div>
					<textarea rows="5" cols="45" name="content1" th:text="${gratitudeDiary.content1}"></textarea>
					<div class="question">오늘 나에게 일어난 멋진 일 : </div>
					<textarea rows="5" cols="45" name="content2" th:text="${gratitudeDiary.content2}"></textarea>
					<div class="question">나를 위한 긍정의 한 줄! :</div>
					<textarea rows="5" cols="45" name="content3" th:text="${gratitudeDiary.content3}"></textarea>
				</div>
				<section>
					<div class="pub">
						<label>공개</label>
						<input type="radio" value="1" name="pub" th:checked="${gratitudeDiary.pub}?'true':'false'">
						<label class="pub-label">비공개</label>
						<input type="radio" value="0" name="pub" th:checked="${gratitudeDiary.pub}?'false':'true'">
					</div>
					
					<div class="buttons">
						<input class="button" type="submit" value="저장"> 
						<input type="button" class="button" value="취소" onclick="location.href='list';"> 
					</div>
				</section>
			</form>
		</section>
	</main>

</html>