<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
    <meta charset="UTF-8">
    <title>gratitudeDiary reg</title>
	<link href="/css/diary/modal.css" type="text/css" rel="stylesheet">
    <script src='/js/modal/modal.js'></script>
</head>

	
<!-- ----------------main부분------------------- -->
	<main id="main" layout:fragment="main">
		<form class="form" action="/diary/gratitudeDiary/reg" method="post" enctype="multipart/form-data">
			<table border="1">
				<tr>
					<th>감정선택</th>
					<td colspan="3">
   						<div id="emotion"></div>
   						<button id="open-button" type="button">감정 선택</button> 
   						
						<div id="modal" class="modal">
							<!-- Modal content -->
							<div class="modal-content">
								<span class="close">&times;</span>
								<table class="emotion-table">
									<tr>
										<td><label>행복</label>
											<div class="happy"><input type="radio" value="1" name="emotionId"></div></td>
										<td><label>뿌듯</label>
											<div class="proud"><input type="radio" value="2" name="emotionId"></div></td>
										<td><label>설렘</label>
											<div class="flutter"><input type="radio" value="3" name="emotionId"></div></td>
									</tr>
									<tr>
										<td><label>평온</label>
											<div class="calm"><input type="radio" value="4" name="emotionId"></div></td>
										<td><label>에민</label>
											<div class="sensitive"><input type="radio" value="5" name="emotionId"></div></td>
										<td><label>불안</label>
											<div class="unstable"><input type="radio" value="6" name="emotionId"></div></td>
									</tr>
									<tr>
										<td><label>피곤</label>
											<div class="tired"><input type="radio" value="7" name="emotionId"></div></td>
										<td><label>슬픔</label>
											<div class="sad"><input type="radio" value="8" name="emotionId"></div></td>
										<td><label>화남</label>
											<div class="upset"><input type="radio" value="9" name="emotionId"></div></td>
									</tr>
									
									<!-- <label>행복</label>
										<div class="happy"><input type="radio" value="1" name="emotionId"></div>
									<label>뿌듯</label>
										<div class="proud"><input type="radio" value="2" name="emotionId"></div>
									<label>설렘</label>
										<div class="flutter"><input type="radio" value="3" name="emotionId"></div>
									<label>평온</label>
										<div class="calm"><input type="radio" value="4" name="emotionId"></div>
									<label>에민</label>
										<div class="sensitive"><input type="radio" value="5" name="emotionId"></div>
									<label>불안</label>
										<div class="unstable"><input type="radio" value="6" name="emotionId"></div>
									<label>피곤</label>
										<div class="tired"><input type="radio" value="7" name="emotionId"></div>
									<label>슬픔</label>
										<div class="sad"><input type="radio" value="8" name="emotionId"></div>
									<label>화남</label>
										<div class="upset"><input type="radio" value="9" name="emotionId"></div> -->
								</table>
							</div>
						</div> 
										
					</td>
				</tr>
				<tr>
					<th>공개선택</th>
					<td colspan="3">
						<label>공개</label><input type="radio" value="true" name="pub">
						<label>비공개</label><input type="radio" value="false" name="pub" checked>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<div>오늘하루 감사한 일들을 적어보세요</div>
						<br>
						<br>
						<div>오늘의 감사한 일 :  </div>
						<br>
						<textarea rows="5" cols="50" name="content1"></textarea>
						<br><br>
						<div>오늘 나에게 일어난 멋진 일 : </div>
						<br>
						<textarea rows="5" cols="50" name="content2"></textarea>
						<br><br>
						<div>나를 위한 긍정의 한 줄! :</div>
						<br>
						<textarea rows="5" cols="50" name="content3"></textarea>
					</td>
				</tr>
			</table>


			<div>
				<input type="submit" value="저장"> 
				<a href="list">취소</a>
			</div>
		</form>

	</main>

</html>