
#commentBox{
	width: 95%;
	
	border-radius: 0!important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #42a5f5;
}
.sectionClass{
    height: 100%;
    overflow: scroll;
    margin-bottom: 5%;
}
#submitComment{
	background: #fff;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    width: 80px;
    height: 25px;
    color: #464646;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}