
.detail-wrap{

	display:flex;
	margin: 10px;
	width: 95%;
	flex-direction: column;
	align-items: center;

}



.emotion{
	width:80px;
	height: auto;
}

.image{
    
    max-width:95%;
    height:auto;
    object-fit: cover;
}

.content{
	width:93%;
	border : 0;
	padding:5px;
}

#commentBox{
	width: 100%;
	
	border-radius: 0!important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #42a5f5;
}

.sectionClass{
    height: 100%;
    margin-bottom: 5%;
}
#submitComment{
	background: #fff;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    width: 80px;
    height: 25px;
    color: #464646;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}