/*freediary css*/
.title-container{
	margin:0 5px;
	--position:fixed;
	width:100%;
	background-color:#f2f2f2;
}
.title{
	margin:5px;
}
hr{
	width:70%;
	margin-left:0;
}

.open-lecture-content{
	height:100%;
	/* overflow:scroll; */
}

.container{
	display:flex;
	flex-direction: column;
    align-items: center;
    height:100%;
}

.diary-container{
	display:grid;
	height:120px;
	width:80%;
	padding:10px;
	margin-bottom:15px;
	background-color: white;
	border-radius: 8px;
  	grid-template-columns: 30px 100px 1fr;/*¿­ µÎ°³*/
  	grid-template-rows: repeat(2,1fr);/*Çà 3Ãþ*/
	grid-template-areas:
  "date img content"
  "date img info";
      align-items: center;
	box-sizing: border-box;
}

.date{
	grid-area:date;
	text-align: center;
	
	background-color: #F8F1E5;
    border-radius: 20%;
    margin: -4px;
    padding: 5px;
}
.dayName{
	font-size:10px;
}
.day{
	font-weight: bold;
    color: #757575;
    font-size: 20px;
}

.img-container{
	grid-area:img;
	
}

.img-container > img {
	width: 80px;
  	height:80px;
  	border-radius:15%;
  	object-fit:cover;
  	margin: 0 10px;
}
.content{
	grid-area:content;
	width:90%;
	
	text-overflow:ellipsis;
	overflow:hidden;
	
	vertical-align:middle;
	
	white-space: nowrap !important;
  	overflow:hidden !important;
  	text-overflow: ellipsis !important;
}

.comment{
	grid-area:info;
	text-align:end;
}