/*freeDiary reg*/
textarea {
	width:90%;
	height:95%;
	resize:none;
}

.wrapper{
	width:100%;
	height:100%;
	overflow: scroll;
	padding:5px 0;
	box-sizing: border-box;
	display:flex;
	flex-direction:column;
	align-items: center;
	
	margin-bottom: 25px;
}

.form{
	width:100%;
	
	display:flex;
	flex-direction:column;
	align-items: center;
}

@font-face {
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-family: 'S-CoreDream-3Light';
     font-weight: normal;
     font-style: normal;
}
.date-input{
	height:80px;
	display:flex;
	flex-direction:column;
	align-items: center;
	
}
.emotion-input{
	max-height:200px;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.form lable{
	height:20px;
	margin:15px;
	margin-bottom:7px;
}
.lable2{
	margin-bottom:0;
}

.form input[type=date]{
	margin-bottom:7px;
	height:20px;
	font-family: 'S-CoreDream-3Light';
}


.image{
	object-fit: cover;
	margin : 7px 0;
	width : 90%;
	height : 200px;
	border-radius:2px;
}

.image:active{
	opacity : 0.5;

	}
	.basic{
		border:1px #979797 solid;
	 	
	 }
	 
.del-btn-container{
	height:20px;
	display:flex;
	margin: 0 0 4px 0;
}
	.file-del-btn{
		background: url("../../../images/icon/remove.png") no-repeat;
		 background-size: cover;
		width:20px;
		height:20px;
		border:0;
	} 
	
.text-input{
	display:flex;
	flex-direction:column;
	align-items: center;
	width:100%;
	height:60%;
}
.pub{
	margin-right: auto;
    margin-left: 5%;
        display: flex;
}

.buttons{
	display: flex;
	width:100%;
    justify-content: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.button{
  font-family: 'S-CoreDream-3Light';
  font-size:12px;
  width:60px;
  height:25px;
  border-width:1px;
  color:rgba(74, 74, 74, 1);
  border-color:rgba(195, 193, 191, 0.69);
  font-weight:bold;
  border-radius:7px;
  text-shadow: 1px 1px 0px rgba(248, 241, 229, 1);
  background: white;
  margin-right: 5px;
  margin-bottom: 25px;
}

.button:hover {
  background: rgba(247, 232, 206, 1)
}    