<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="inc/layout">
<head>
	<meta charset="UTF-8">
	<title>회원정보 수정</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link href="../css/member/edit.css" type="text/css" rel="stylesheet">
	<script src="/js/member/edit.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

	<main class="main" layout:fragment="main">
		<div class="box edit-box">
			<form class="box edit-form" method="post" action="edit">
				<div class="box title-box">
					<h1 class="edit-title">회원정보수정</h1>
				</div>
				<div class="info-box">
					<div class="info name">
						<label>이름</label>
						<span th:text="${member.name}">황지산</span>
					</div>
					<div class="info email">
						<label>이메일</label>
						<input class="b email" type="email" name="email" th:value="${member.email}"></input>
					</div>
					<div class="info birthday">
						<label>생년월일</label>
						<span th:text="${member.birthday}">1996-04-24</span>
					</div>
					<div class="info userid">
						<label>회원아이디</label>
						<div class="useridbtn">
							<input class="b username" type="text" name="username" th:value="${member.userId}">
							<button class="checkid" type="button" style="display:none;">중복확인</button>
							<img src="/images/member/check.png" id="id_check_sucess">			
						</div>						
					</div>
						<div class="checkmsg" th:if="${checkmsg}!=null" th:text="${checkmsg}"></div>
					<div class="info password">
						<label>비밀번호</label>
						<input class="b" type="password" name="password">			
					</div>		
				</div>
				<div class="btn-box">
					<input class="submit" type="button" onclick="check()" value="수정">
					<input type="button" value="취소" onclick="window.location.href='../mypage'">
					<a class="out" onclick="outcheck()">회원탈퇴</a>
				</div>
			</form>
		</div>
	</main>
</html>