<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="inc/layout">
<head>
	<meta charset="UTF-8">
	<title>회원정보 수정</title>
</head>

	<main class="main" layout:fragment="main">
		<form class="edit-form" method="post" action="edit">
			<fieldset>
				<legend>회원정보수정</legend>
				<div class="name">
					<label>이름:</label>
					<span th:text="${member.name}">황지산</span>
				</div>
				<div class="email">
					<label>이메일:</label>
					<span th:text="${member.email}">ghkdwltks123@naver.com</span>
				</div>
				<div class="birthday">
					<label>생년월일:</label>
					<span th:text="${member.birthday}">1996-04-24</span>
				</div>
				<div class="userid">
					<label>회원아이디:</label>
					<input type="text" name="username" th:value="${member.userId}">			
				</div>
				<div class="password">
					<label>비밀번호:</label>
					<input type="password" name="password" th:value="${member.password}">			
				</div>		
				<input type="submit">
				<input type="button" value="취소" onclick="window.location.href='mypage'">
				<a href="out">회원탈퇴</a>
			</fieldset>
		</form>
	</main>
</html>