<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="member/inc/layout">
<head>
	<meta charset="UTF-8">
	<title>Oneul-비밀번호 찾기</title>
	<link href="../css/member/findpwd.css" type="text/css" rel="stylesheet">
	<script src="/js/member/findpwd.js"></script>
</head>
<body>
    <main class="main" layout:fragment="main">
        <div class="findpwd-box">
            <form class="findpwd-form" action="findpwd" method="post">
                <h1 class="findpwd-title">비밀번호 찾기</h1>
                <ul>
                    <li class="input">
                        <legend>회원아이디</legend>
                        <input class="b" type="text" name="username">
                    </li>
                    <li class="input">
                        <legend>이름</legend>
                        <input class="b" type="text" name="name">
                    </li>
                    <li class="input">
                        <legend>생년월일</legend>
                        <input class="b" type="date" name="birthday" value="2000-01-01">
                    </li>
                    <li class="input">
                        <legend>이메일</legend>
                        <input class="b" type="email" name="email" placeholder="sophie@example.com">
                    </li>
                    <div class="msg" th:if="${msg}!=null" th:text="${msg}">회원정보가 일치하지 않습니다</div>
                    <li class="btn">
                        <input class="submit" type="button" onclick="check()" value="비밀번호 찾기">
                        <input class="btn-cancel" type="button" value="취소" onclick="window.location.href='/'">
                    </li>
                </ul>
            </form>
        </div>
    </main>
</body>
</html>