<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="inc/layout">
<head>
<meta charset="UTF-8">
<title>아이디찾기 완료</title>
<link href="../css/member/foundid.css" type="text/css" rel="stylesheet">
</head>
<body>
	<main class="main" layout:fragment="main">
		<div class="foundid-box">
			<div class="flex title-box">
				<span class="bold foundid-title" th:text=${session.member.name}>회원이름</span>
				<span class="foundid-title">님의 아이디는</span>
			</div>
			<div class="flex id-box">
				<span class="id" th:text=${session.member.userId}>회원아이디</span>
			</div>
			<div class="flex option-box">
				<a href="/">로그인하기</a>
				<span>|</span>
				<a href="findpwd">비밀번호 찾기</a>
			</div>
		</div>
	</main>
</body>
</html>