<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지 테스트</title>
</head>
<body>
	<form action="/member/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="file"><br>
		<input type="submit" value="전송">
	</form>
	
	<h1>프로필사진테스트</h1>
	<img th:src="@{/upload/profile/basic.jpg}" th:if="${member.image}=='basic.jpg'">
	<img th:src="@{'/upload/profile/'+${member.userId}+'/'+${member.image}}" th:if="${member.image}!='basic.jpg'">
</body>
</html>
