<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/signup.css" type="text/css" rel="stylesheet">

</head>
<body>
    <header id="header">
        <h1 class="logo">Oneul<a href=""><img src=""></a></h1>
        <nav class="header-menu">
            <h1 class="d-none">헤더버튼</h1>

        </nav>

    </header>
    <aside id="aside">
        <h1 class="d-none">어사이드</h1>
        <nav class="aside-menu">

        </nav>
    </aside>

    <main>
        <div class="signup-box">
            <form class="signup-form">
                <ul>
                    <li>
                        <input type="text" name="username" placeholder="아이디"/>
                    </li>
                    <li>
                        <input type="password" name="password" placeholder="비밀번호"/>
                    </li>
                    <li>
                        <input type="password" name="passwordCheck" placeholder="비밀번호 확인"/>
                    </li>
                    <li>
                        <input type="text" name="name" placeholder="이름"/>
                    </li>
                    <li>
                        <input type="date" name="birthday" placeholder="생년월일"/>
                    </li>
                    <li>
                        <input type="email" name="email" placeholder="sophie@example.com"/>
                    </li>
                    <li>
                        <input type="submit" value="회원가입">
                    </li>
                </ul>
            </form>
        </div>
    </main>


    <div class="navbar">
        <a href="">Feed</a>
        <a href="">My Diary</a>
        <a href="">Write</a>
        <a href="">Calendar</a>
        <a href="">My Page</a>
      </div>

</body>
</html>
