<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="member/inc/layout">
	
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="../css/member/signup.css" type="text/css" rel="stylesheet">
	<script src="/js/member/signup.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
    <main class="main" layout:fragment="main">
        <div class="signup-box">
             <form class="signup-form" action="reg" method="post">
                <h2 class="signup-title">회원가입</h2>
                <ul>
                    <li>
                        <input class="username" type="text" name="username" placeholder="아이디 (영소문자, 숫자 4~12자리)"/>
                    	<button class="checkid" type="button">중복확인</button>
                    	<img src="/images/member/check.png" id="id_check_sucess" style="display:none;">
                    </li>
                        <div class="checkmsg" th:if="${checkmsg}!=null" th:text="${checkmsg}"></div>
                    <li>
                        <input type="password" name="password" placeholder="비밀번호 (영소문자,숫자 4~15자리)"/>
                    </li>
                    <!-- <li>
                        <input type="password" name="passwordCheck" placeholder="비밀번호 확인"/>
                    </li> -->
                    <li>
                        <input type="text" name="name" placeholder="이름"/>
                    </li>
                    <li>
                        <input class="date" type="date" name="birthday" value="2000-01-01"/>
                    </li>
                    <li>
                        <input type="email" name="email" placeholder="sophie@example.com"/>
                    </li>
                    <li class="btn">
                        <input class="btn-submit" type="button" onclick="check()" value="회원가입">
                        <input class="btn-cancel" type="button" value="취소" onclick="window.location.href='/'">
                    </li>
                </ul>
            </form>
        </div>
    </main>
</html>
