@charset "UTF-8";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none
}

/* util */
.d-none {
	display: none;
}

body {
	color: rgb(114, 114, 114);
}

/*다른 CSS 에서 #main에 걸려있는 overflow scroll 하고 height 85% 끄면 잘됨 밑에 걸어서 뺴줌 그리고 바디의 height 100% 빼주고 */
#main {
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	max-width: 720px;
	min-height: 720px;
	overflow: auto;
	height: auto;
}

/*upper main container */
.upper-main-container {
	margin-top: 20px;
	background-color: white;
	border-radius: 30px 30px 0px 0px;
	padding: 20px 0px 15px 0px;
}

/* .upside-container */ /**/
.upside-container {
	display: flex;
	justify-content: center;
	position: relative;
}

/* .upside-container */ /*-edit*/
.upside-container-edit {
	position: absolute;
	right: 0px;
	margin-right: 15px;
}

.upside-container-edit-img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.upside-container-edit-box {
	color: #727272;
	position: relative;
	right: inherit;
	top: -40px;
	width: auto;
	height: auto;
	background-color: white;
	border: 1px #F2F2F2 solid;
	z-index: 10;
}

.upside-container-edit-item {
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.upside-container-edit-box-logout {
	
}

.upside-container-edit-box-profile-edit {
	
}

.upside-container-edit-box-information-edit {
	
}

/*upside-container*/ /*-title*/
.upside-container-title {
	
}

.upside-container-title-main {
	font-size: 22px;
}

.upside-container-title-sub {
	margin-top: 15px;
    text-align: center;
    font-size: 13px;
}

/* midleside - container*/ /**/
.midleside-container {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*midle-side-container*/ /*-item1*/
.midleside-container-item1 {
	flex-basis: 288px;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
}

.midleside-container-item1-img {
	width: 70%;
	height: 70%;
	border-radius: 15px 15px 15px 15px;
}

/*midle-side-container*/ /*-hr*/
.midleside-container-hr {
	flex-basis: 1px;
	background-color: #F2F2F2;
	height: 140px;
}
/* 
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none
}

/* util */
.d-none {
	display: none;
}

body {
	color: rgb(114, 114, 114);
}


.pointer {
	
	cursor: pointer;
}



@font-face {
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-family: 'S-CoreDream-3Light';
     font-weight: normal;
     font-style: normal;
}


/*다른 CSS 에서 #main에 걸려있는 overflow scroll 하고 height 85% 끄면 잘됨 밑에 걸어서 뺴줌 그리고 바디의 height 100% 빼주고 */
#main {
	background-color: #F7F7F7;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	max-width: 720px;
	min-height: 720px;
	overflow: auto;
	height: auto;
	width: 95%;
	font-family: 'S-CoreDream-3Light';
}

/*upper main container */
.upper-main-container {
	margin-top: 20px;
	background-color: white;
	border-radius: 30px 30px 0px 0px;
	padding: 20px 0px 15px 0px;
	min-height: 210px;
}

/* .upside-container */ /**/
.upside-container {
	display: flex;
	justify-content: center;
	position: relative;
}

/* .upside-container */ /*-edit*/
.upside-container-edit {
	position: absolute;
	right: 0px;
	margin-right: 15px;
}

.upside-container-edit-img {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.upside-container-edit-box {
	color: #727272;
	position: relative;
	right: inherit;
	top: -40px;
	width: auto;
	height: auto;
	background-color: white;
	border: 1px #F2F2F2 solid;
	z-index: 10;
	font-size: 13px;
}

.upside-container-edit-item {
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.upside-container-edit-box-logout:hover {
	background-color: gray;
	color: white;
}

.upside-container-edit-box-profile-edit:hover {
	background-color: gray;
	color: white;
}

.upside-container-edit-box-information-edit:hover {
	background-color: gray;
	color: white;
}

/*upside-container*/ /*-title*/
.upside-container-title {
	
}

.upside-container-title-main {
	font-size: 20px;
}

.upside-container-title-sub {
	margin-top: 15px;
    text-align: center;
    font-size: 13px;
}

/* midleside - container*/ /**/
.midleside-container {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*midle-side-container*/ /*-item1*/
.midleside-container-item1 {
	flex-basis: 288px;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
}

.midleside-container-item1-img {
	width: 70%;
	height: 70%;
	border-radius: 15px 15px 15px 15px;
}

/*midle-side-container*/ /*-hr*/
.midleside-container-hr {
	flex-basis: 1px;
	background-color: #F2F2F2;
	height: 140px;
}

/*midle-side-container*/ /*-item2*/
.midleside-container-item2 {
	align-self: flex-start;
	flex-basis: 431px;
	flex-grow: 1.5;
	flex-shrink: 1.5;
	padding-left: 2%;
}

.midleside-container-item2-my {
	ont-size: 14px;
    margin-top: 15px;
    margin-left: 5px;
}

.midleside-container-item2-nameis {
	margin: 15px 10px 0px 10px;
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 20px;
}

/* midledownside-container */ /**/
.midledownside-container {
	display: flex;
    justify-content: space-around;
    align-content: center;
    height: 30px;
    background-color: white;
    border-radius: 0px 0px 60px 60px;
    font-size: 12px;
}

/*midledown-side-container*/ /*-my*/
.midledownside-container .my-oneline-button {
	line-height: 35px;
	text-align: center;
	flex-basis: 50px;
	flex-grow: 1;
	cursor: pointer;
	border-radius: 10px 10px 15px 60px;
}

.my-oneline-button-click {
	background-color: #677A8F;
	color: white;
}

.midledownside-container .my-comment-button {
	line-height: 35px;
	text-align: center;
	flex-basis: 50px;
	flex-grow: 1;
	cursor: pointer;
	border-radius: 10px 10px 60px 15px;
}

/*my-oneline-list*/ /**/ /**/
.my-oneline-list {
	
}

/*my-oneline-list*/ /*-items*/ /**/
.my-oneline-list-items {
	height: 90px;
	margin-top: 15px;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:10px 0px 10px 0px;
	box-sizing: border-box;
}

.my-oneline-list-items:hover {
	cursor: pointer;
}

/*my-oneline-list*/ /*-items*/ /*regdate content*/
.my-oneline-content-regdate-container {
	flex-grow: 1;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
}

.my-oneline-item-content {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
    margin-bottom: 10px;
    font-size: 13px;
}

.my-oneline-item-regdate {
	
}

.my-oneline-item-commentcount {
	margin-right : 12.5px;
}

.my-oneline-item-regcom{
	display: flex;
    justify-content: space-between;
    font-size: 12px;
}

/*my-oneline-list*/ /*-items*/ /*img*/
.my-oneline-list-img {
	
}

.my-oneline-item-img {
	height: 50px;
	margin-right: 20px;
}

/*my-comment-list*/ /**/ /**/
.my-comment-list {
	
}

/*my-comment-list*/ /*-items*/ /**/
.my-comment-list-items {
	height: 90px;
	margin-top: 15px;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:10px 0px 10px 0px;
	box-sizing: border-box;
	
}

.my-comment-list-items:hover {
	cursor: pointer;
}

/*my-comment-list*/ /*-items*/ /*regdate content*/
.my-comment-content-regdate-container {
	flex-grow: 1;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
}

.my-comment-item-content {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
    margin-bottom: 10px;
    font-size: 13px;
}

.my-comment-item-regdate {
	font-size: 12px;
}

.my-comment-item-commentcount {
	
}

/*my-comment-list*/ /*-items*/ /*img*/
.my-comment-list-img {
	
}

.my-comment-item-img {
	height: 50px;
	margin-right: 20px;
}

/* 팝업 */
.profile-edit-section {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1000;
	width: 98.5%;
	height: 40%;
	transform: translate(-50%, -50%);
}

.profile-edit {
	padding: 10px 10px 10px 10px;
	box-shadow: 0px 0px 5px black;
	border: 1px solid #F4F4F4;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	background-color: white;
	border-radius: 30px 30px 30px 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.profile-edit-item1 {
	position: relative;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.profile-edit-item1 .item1-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*profile-edit-item3*/
.profile-edit-item3 {
	padding: 10px 10px 10px 0px;
	flex-basis: 400px;
}

.item3-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item3-p {
	
}

.item3-submit {
	width: 45px;
	height: 30px;
	border-radius: 10px 10px 10px 10px;
}

.item1-img {
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	width: 120px;
	height: 120px;
}

.item1-link {
	margin-top: 5px;
	font-size: 12px;
}

.item3-textarea {
	box-sizing: border-box;
	padding: 10px;
	border-radius: 15px 15px 15px 15px;
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid #F4F4F4;
	outline: 0;
	resize: none;
	width: 100%;
	height: 100px;
	scrollbar-width: thin;
}

.item3-email {
	display: block;
    padding: 7px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 15px 15px 15px 15px;
    outline: 0;
    border: 1px solid #F4F4F4;
    width: 150px;
    font-size: 12px;
    text-align: center;
}