<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>modal</title>
	<link href="/css/diary/modal.css" type="text/css" rel="stylesheet">
    <script src='/js/modal/modal.js'></script>
</head>
<div id="modal" class="modal" th:fragment="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<table class="emotion-table">
				<tr>
					<td><label>행복</label>
						<div class="happy emotion-icon-container"><input type="radio" value="1" name="emotionId" style="display:none;"></div></td>
					<td><label>뿌듯</label>
						<div class="proud emotion-icon-container"><input type="radio" value="2" name="emotionId" style="display:none;"></div></td>
					<td><label>설렘</label>
						<div class="flutter emotion-icon-container"><input type="radio" value="3" name="emotionId" style="display:none;"></div></td>
				</tr>
				<tr>
					<td><label>평온</label>
						<div class="calm emotion-icon-container"><input type="radio" value="4" name="emotionId" style="display:none;"></div></td>
					<td><label>에민</label>
						<div class="sensitive emotion-icon-container"><input type="radio" value="5" name="emotionId" style="display:none;"></div></td>
					<td><label>불안</label>
						<div class="unstable emotion-icon-container"><input type="radio" value="6" name="emotionId" style="display:none;"></div></td>
				</tr>
				<tr>
					<td><label>피곤</label>
						<div class="tired emotion-icon-container"><input type="radio" value="7" name="emotionId" style="display:none;"></div></td>
					<td><label>슬픔</label>
						<div class="sad emotion-icon-container"><input type="radio" value="8" name="emotionId" style="display:none;"></div></td>
					<td><label>화남</label>
						<div class="upset emotion-icon-container"><input type="radio" value="9" name="emotionId" style="display:none;"></div></td>
				</tr>
			</table>
		</div>
	</div>  

</html>