<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<!-- ----------------navbar부분------------------- -->
	<div id="navbar" th:fragment="navbar">
		<a href="/feed/oneline/list"><img class="feedIcon"style="width:30px"src="https://image.flaticon.com/icons/png/128/2948/2948037.png"></a> 
<!-- 		<a href="/diary/list"><img class="diaryIcon" style="width:30px"src="https://image.flaticon.com/icons/png/128/1164/1164620.png"></a>  -->
		<a href="/diary/list"><img class="diaryIcon" style="width:30px"src="https://image.flaticon.com/icons/png/128/865/865169.png"></a> 
		<a href="/diary/reg"><img class="writeIcon" style="width:30px"src="https://image.flaticon.com/icons/png/128/561/561169.png"></a>
		<a href="/calendar/list"><img class="calIcon"style="width:30px"src="https://image.flaticon.com/icons/png/128/2948/2948088.png"></a> 
		<a href="/mypage"><img class="myIcon"style="width:30px"src="https://image.flaticon.com/icons/png/512/996/996484.png"></a>
	</div>
	
</html>