<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout"
layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<main id="main" layout:fragment="main">
	<section class="">
		<h1>Feed section</h1>
		<h3>Test table</h3>
		 <table border="1">
                           
                           <tr>
                              <th>작성일</th>
                              <td colspan="3" th:text="${#calendars.format(futureDiary.regDate,'yyyy-MM-dd')}">2021-01-01</td>
                           </tr>
                           
                           
                           <tr>
                              <td colspan="4" th:text = "${futureDiary.content}">
                                 미래일기내용
                              </td>
                           </tr>
                        </table>
                  <div>
                     <a href="list">목록</a>
                     <a th:href="@{edit(id=${futureDiary.id})}">수정</a>
                     <a th:href="@{del(id=${futureDiary.id})}" onclick="if(!confirm('삭제하시겟슺니가?'))return false;">삭제</a>
                   													
                  </div>

	</section>
</main>

</body>
</html>