<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout"
layout:decorator="./inc/layout">
<head>
<meta charset="UTF-8">
<link href="/css/diary/futureDiary/detail.css" type="text/css" rel="stylesheet">
<script src='/js/diary/dotMenu.js'></script>
<title>Oneul-미래일기</title>
</head>


<main id="main" layout:fragment="main">
	<div class="wrapper">
		<section class="upside-container-edit">
			<h1 class="d-none">edit버튼</h1>
			<img class="upside-container-edit-img" src="/images/icon/dots.png" alt="config-icon">
			<div class="upside-container-edit-box d-none">
				<div class="upside-container-edit-item"><a th:href="@{edit(id=${futureDiary.id})}">수정</a></div>
				<div class="upside-container-edit-item"><a th:href="@{del(id=${futureDiary.id})}" onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;">삭제</a></div>
			</div>
		</section>
                             
								<th:block th:switch="${futureDiary.emotionId}"> 
								<span th:case="1"><img class="emotion" alt="" src="/images/emotions/happy.png"></span>
								 <span th:case="2"><img class="emotion" alt="" src="/images/emotions/proud.png"></span> 
								 <span th:case="3"><img class="emotion" alt="" src="/images/emotions/flutter.png"></span> 
								 <span th:case="4"><img class="emotion" alt="" src="/images/emotions/calm.png"></span> 
								 <span th:case="5"><img class="emotion" alt="" src="/images/emotions/sensitive.png"></span> 
								 <span th:case="6"><img class="emotion" alt="" src="/images/emotions/unstable.png"></span> 
								 <span th:case="7"><img class="emotion" alt="" src="/images/emotions/tired.png"></span> 
								 <span th:case="8"><img class="emotion" alt="" src="/images/emotions/sad.png"></span> 
								 <span th:case="9"><img class="emotion" alt="" src="/images/emotions/upset.png"></span> 
								</th:block>
							 
                                                    
                              <div class="date" th:text="${#calendars.format(futureDiary.regDate,'yyyy-MM-dd')}">2021-01-01</div>
                           
                           
                           <!-- <tr th:with="pub = ${futureDiary.pub==1 ? '공개':'비공개'}">
                              <th>공개여부</th>
                              <td th:text="${pub}">공개일기/비공개일기</td>
                           </tr> -->
                           
                           
                              
                               <img class="image" th:if="${futureDiary.image}!=''" th:src="@{/upload/diary/futureDiary/} +${futureDiary.memberId}+@{/}+${futureDiary.id}+@{/}+ ${futureDiary.image}">
                             <div class="content-container">
	                              <textarea class="content" rows="20" cols="30"  readonly th:text = "${futureDiary.content}">                      
	                                 미래일기내용
	                              </textarea>
                              </div>
                          
                      
                  
                  <div class="buttons">
					<button class="button" type=button><a href="list">목록</a></button>
					
				</div>
                  
		
		
	</div>
	
</main>


</html>