<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout"
layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<main id="main" layout:fragment="main">
	<section class="">
		<h1>Feed section</h1>
		<h3>Test table</h3>
		<form class="form" action="edit" method="post" enctype="multipart/form-data">
                           <table border="1">  
                           <lable>예약날짜</lable>                      
                            <input type="date" name="bookingDate" th:value="${#calendars.format(futureDiary.bookingDate,'yyyy-MM-dd')}">
                            <tr>
                              	<td colspan="4">															 
	                              	<label>공개</label> <input type="radio" value="1" name="pub"  th:checked="${futureDiary.pub} ? 'true': 'false'"> 
	                              	<label>비공개</label> <input type="radio" value="0" name="pub" th:checked="${futureDiary.pub} ? 'false': 'true'">
                              	</td>
                              </tr>  
                              <tr>
                                 <td colspan="4">
                                 <textarea rows="20" cols="80" name="content" th:text="${futureDiary.content}">일기내용</textarea>
                                    
                                 </td>
                              </tr>
                           </table>
                           
                     <div>
                     <input type="hidden" name="id" th:value="${futureDiary.id}" >
                        <input type="submit" value="저장">
                        <a href="list">취소</a>
                     </div>
                  </form>

	</section>
</main>



</body>
</html>