<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout"
layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/diary/modal.css" type="text/css" rel="stylesheet">
<script src='/js/modal/modal.js'></script>
<script src='/js/diary/futureDiary/edit.js'></script>
</head>
<body>

<main id="main" layout:fragment="main">
	<section class="">
		<h1>Feed section</h1>
		<h3>Test table</h3>
		<form class="form" action="edit" method="post" enctype="multipart/form-data">
                           <table border="1">  
                           <lable>예약날짜</lable>                      
                            <div th:text="${#calendars.format(futureDiary.bookingDate,'yyyy-MM-dd')}"></div>
                            <tr>
								<th>감정선택</th>
								<td colspan="3">
								
									<th:block th:switch="${futureDiary.emotionId}"> 
			                         <span th:case="1"><div class="checked-emotion happy"></div></span>
			                         <span th:case="2"><div class="checked-emotion proud"></div></span> 
			                         <span th:case="3"><div class="checked-emotion flutter"></div></span> 
			                         <span th:case="4"><div class="checked-emotion calm"></div></span> 
			                         <span th:case="5"><div class="checked-emotion sensitive"></div></span> 
			                         <span th:case="6"><div class="checked-emotion unstable"></div></span> 
			                         <span th:case="7"><div class="checked-emotion tired"></div></span> 
			                         <span th:case="8"><div class="checked-emotion sad"></div></span> 
			                         <span th:case="9"><div class="checked-emotion upset"></div></span> 
			                        </th:block>
			   						<div id="emotion"></div>
			   						<button id="open-button" type="button">감정 선택</button> 
			   						<div th:replace="inc/modal::modal"></div>						
								</td>
							</tr>
                             
                              <tr>
                                 <td colspan="4">
                                 <img class="image" th:if="${futureDiary.image}!=''" th:src="@{/upload/diary/futureDiary/} +${futureDiary.memberId}+@{/}+${futureDiary.id}+@{/}+ ${futureDiary.image}"
                                 style="width:200px; height:150px;">
                                 <img class="image" th:if="${futureDiary.image}==''" >
                                 <input class="file-del-btn" type="button" value="삭제">
                               	<input type="file" name="file">
                               	<input class="changed" type="hidden" name="changed" value="0">
                               	<input type="hidden" name="originalFile" th:value="${futureDiary.image}">
                                    
                                 </td>
                              <tr>
                                 <td colspan="4">
                                 <textarea rows="20" cols="80" name="content" th:text="${futureDiary.content}">일기내용</textarea>
                                    
                                 </td>
                              </tr>
                           </table>
                           
                     <div>
                     <input type="hidden" name="id" th:value="${futureDiary.id}" >
                        <input type="submit" value="저장">
                        <a href="list">취소</a>
                     </div>
                  </form>

	</section>
</main>



</body>
</html>