<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout"
layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<title>미래일기 list</title>
</head>

<body>

	<main id="main" layout:fragment="main"
	>
		<section class="">
			<h1>미래일기</h1>
			<h3>내가 쓴 미래일기 목록</h3>
			<table>
				<tr>
					<th>번호</th>
					<th>내용</th>				
					<th>작성일</th>
					<th>예약일</th>
					
				</tr>
				
					<tr th:each = "d:${list}"
					th:with="bookingDate=${#calendars.format(d.bookingDate,'yyyy-MM-dd')},					 
					today = ${#calendars.createToday()}">
						<div th:with="todayFormatted=${#calendars.format(today,'yyyy-MM-dd')}">
							<td th:text="${d.id}">01</td>
							<td><a th:href="@{detail(id=${d.id})}" th:text="${todayFormatted>bookingDate ? d.content : bookingDate+' 이후에 볼 수 있습니다'}">내용</a></td>
							<td th:text="${#calendars.format(d.regDate,'yyyy-MM-dd')}">2021-01-01</td>
							<td th:text = "${bookingDate}"></td>
					
						</div>
					</tr>
				
			</table>
			<div>
				<a href="reg">글쓰기</a>
			</div>
		</section>
	</main>

</body>
</html>