<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout"
layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
<link href="/css/diary/futureDiary/list.css" type="text/css" rel="stylesheet">
<script src="/js/infinite/documentInfiniteScrollWith.js"></script>
<script src="/js/diary/futureDiary/list.js"></script>

<script>
	function getToday(){ //오늘 날짜 구하는 함수
	    var date = new Date();
	    var year = date.getFullYear();
	    var month = ("0" + (1 + date.getMonth())).slice(-2);
	    var day = ("0" + date.getDate()).slice(-2);
	
	    return year + "-" + month + "-" + day;
	}
	function dateFormat(date) { //date형식 yyyy-MM-dd로 포맷해주는 함수
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;
        //hour = hour >= 10 ? hour : '0' + hour;
        //minute = minute >= 10 ? minute : '0' + minute;
        //second = second >= 10 ? second : '0' + second;

        return date.getFullYear() + '-' + month + '-' + day;
}
	window.addEventListener("load",()=>{
		let containerClass = ".container";
		let query = "";
		let requestUrl = "/api/diary/future";
		 function returningHTML(json) {
	        	let today = getToday();
	        	let html = "";
	        	for(n of json){
	        		let bookingDate = new Date(n.bookingDate);
	        		let formattedBookingDate = dateFormat(bookingDate);
	        		let regDate = new Date(n.regDate);
	        		let formattedRegDate = dateFormat(regDate);
	        		let contentSplit = n.content.substring(0,100);
	        		console.log(formattedBookingDate);
	        		console.log(today);
	        		console.log(today>=formattedBookingDate);//날짜 지남. 볼수있음
	        		
	        		
	        		if(today>=formattedBookingDate && n.image !=""){//날짜 지남. 볼수있음 && 이미지 있음
	        			html +=`<div class='diary-container' onclick="location.href='detail?id=${n.id}';">
							<div class='bookingDate'>to. ${formattedBookingDate}</div>
	        					<div class="img-container">
	        							<img src="/upload/diary/futureDiary/${n.memberId}/${n.id}/${n.image}">
	                            </div>
	                            <div class='content'>
	        					<a href='detail?id=${n.id}'>${contentSplit}</a>
	        					</div>`;
	        		}else if(today>=formattedBookingDate && n.image ==""){ //날짜지남&&이미지 없음
	        			html +=`<div class='diary-container' onclick="location.href='detail?id=${n.id}';">
							<div class='bookingDate'>to. ${formattedBookingDate}</div>
	        			<div class='content-full'><a href='detail?id=${n.id}'>${contentSplit}</a></div>`;
	        		}else{
	        			html += `<div class='diary-container' onclick="alert('아직 볼 수 없습니다.');" >
							<div class='bookingDate'>to. ${formattedBookingDate}</div>
	        			<div class='content-full not-open'>
	        			<a>${formattedBookingDate}에 공개됩니다.</a>
	        			</div>`;
	        		}
	        		
	        		html += `<div class='regDate'>from. ${formattedRegDate}</div>
							</div>`;
						
	        		
	        	}
	            
	            return html;
	        };
	    
	     documentInfiniteScrollWith(requestUrl, containerClass,returningHTML,query,"#main");
	        
	});
</script>
<title>미래일기 list</title>
</head>

<body>

	<main id="main" layout:fragment="main">
		<section class="wrapper">
		<div class="title-container d-none">
			<h1 class="title">Future Diary</h1>
		</div>
			<br>
			<div class = "container">
				<table>
					<tr>
						<th>번호</th>
						<th>내용</th>				
						<th>작성일</th>
						<th>예약일</th>
						
					</tr>
					
						<tr th:each = "d:${list}"
						th:with="bookingDate=${#calendars.format(d.bookingDate,'yyyy-MM-dd')},					 
						today = ${#calendars.createToday()}">
							<div th:with="todayFormatted=${#calendars.format(today,'yyyy-MM-dd')}">
								<td th:text="${d.id}">01</td>
								<td>
								<!-- <a th:href="@{detail(id=${d.id})}" th:text="${todayFormatted>bookingDate ? d.content : bookingDate+' 이후에 볼 수 있습니다'}">내용</a>-->
								 <a th:if = "${todayFormatted>=bookingDate}" th:href="@{detail(id=${d.id})}" th:text="${d.content}"></a>
								 <a th:unless = "${todayFormatted>=bookingDate}"  th:text="${bookingDate} + ' 에 공개됩니다.'" onclick="alert('아직 볼 수 없습니다.');"></a>
								</td>
								<td th:text="${#calendars.format(d.regDate,'yyyy-MM-dd')}">2021-01-01</td>
								<td th:text = "${bookingDate}"></td>
						
							</div>
						</tr>
					
				</table>
			</div>
			<div>
				<a href="reg">글쓰기</a>
			</div>
		</section>
	</main>

</body>
</html>