<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
<meta charset="UTF-8">
	<title>미래일기 reg</title>
	<link href="/css/diary/modal.css" type="text/css" rel="stylesheet">
	<script src='/js/modal/modal.js'></script>
	<script src='/js/diary/futureDiary/reg.js'></script>
</head>
 

	<main id="main" layout:fragment="main">
		<section class="">
			
			<form class="form" action="reg" method="post"
				enctype="multipart/form-data">
				<table border="1">
					<lable>예약날짜</lable>
					<input type="date" name="bookingDate">
					
					<tr>
					<th>감정선택</th>
					<td colspan="3">
   						<div id="emotion"></div>
   						<button id="open-button" type="button">감정 선택</button> 
   						<div th:replace="inc/modal::modal"></div>						
					</td>
				</tr>
					<tr>
						<td colspan="4"><label>공개</label> <input type="radio"
							value="1" name="pub"> <label>비공개</label> <input
							type="radio" value="0" name="pub" checked></td>
					</tr>
					<tr>
						<img class="image"></img>
						<td colspan="4"><input type="file" name="file" value="0">
							<textarea rows="20" cols="80" name="content"></textarea></td>
					</tr>
				</table>

			</form>
				<div>
					<button type="button" onclick="submit()">저장</button> <a href="list">취소</a>
				</div>

		</section>
	</main>


 
</html>


