
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>미래일기 list</title>
</head>
<body>
	<header id="header">
		<h1 class="logo">
			Oneul<a href=""><img src=""></a>
		</h1>
		<nav class="header-menu">
			<h1 class="d-none">헤더버튼</h1>
		</nav>
	</header>
	
	<aside id="aside">
		<h1 class="d-none">어사이드</h1>
		<nav class="aside-menu"></nav>
	</aside>

	
<main id="main">
	<section class="">
		<h1>Feed section</h1>
		<h3>Test table</h3>
		<form class="form" action="reg" method="post" enctype="multipart/form-data">
                           <table border="1">  
                           <lable>예약날짜</lable>                      
                            <input type="date" name="bookingDate">
                            <tr>
                              	<td colspan="4">
                              		
                              		<label>공개</label>
                              		<input type="checkbox" value="1" name="pub">
                              		<label>비공개</label>
                              		<input type="checkbox" value="0" name="pub">
                              	</td>
                              </tr>  
                              <tr>
                                 <td colspan="4">
                                 <textarea rows="20" cols="80" name="content"></textarea>
                                    
                                 </td>
                              </tr>
                           </table>
                           
                     <div>
                        <input type="submit" value="저장">
                        <a href="list">취소</a>
                     </div>
                  </form>

	</section>
</main>

	<div class="navbar">
		<a href="">Feed</a> <a href="">My Diary</a> <a href="/diary/reg">Write</a>
		<a href="">Calendar</a> <a href="">My Page</a>
	</div>
</body>
</html>


