<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/feed/onelineList.css" type="text/css" rel="stylesheet">
</head>
	<main id="wrapper"  layout:fragment="main">


	<div id="main">

		<div class="btn-box">
			<a href="reg"> <img class="reg-img"
				src="">
			</a>
		</div>

		<div th:each="c:${clist}" >
			<article class="box">
				<div class="content">

					<div class="profile">
						<img class="profile-image" src="../images/user.PNG"> <a
							class="user-name">나는 댓글이야</a> 
							<a class="date" th:text="${#calendars.format(c.regDate,'yyy-MM-dd')}"></a>
						<!-- <a class="del" th:href="@{del(id=${n.id})}" onclick="if(!confirm('삭제하시겠습니까?')) return false;">삭제</a> -->
					</div>					

					<!-- <a th:text="${c.id}">게시글아이디</a> -->
					<div>
						<a th:text="${c.content}">${n.content}</a>
					</div>

					<div class="review-attr">
						<span>좋아요 0</span> <span>댓글 0</span>
					</div>
					<hr>
				
				
			<!--------------------------------------- 댓글 출력란------------------------------- -->
					
					
				</div>
			</article>
		</div>




	</div>

</main>
</html>