<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="/inc/layout">

<head>
<meta charset="UTF-8">
<title>Oneul-한줄일기</title>
<link href="/css/feed/onelineDetail.css" type="text/css" rel="stylesheet">
<link href="/css/feed/comment.css" type="text/css" rel="stylesheet">
<script src='/js/feed/oneline/comment.js'></script>
</head>
   <main id="wrapper"  layout:fragment="main">
   
   <div id="main">   
   <div class="cancel">
		<a href="/feed/oneline/list"> <img class="cancel-img"
			src="/images/oneline/free-icon-left-arrow-633660.png">
		</a>
	</div>
      <div>
         <article id="wrapper">
            <div class="content">

               <div class="profile">
               <img class="profile-image profile-popup" th:alt="${detail.writerId}" th:src="@{/upload/profile/basic.jpg}" th:if="${detail.image}=='basic.jpg'">
               <img class="profile-image profile-popup" th:alt="${detail.writerId}" th:src="@{'/upload/profile/' +${detail.memberId} +'/'  +${detail.image}   }" th:if="${detail.image}!='basic.jpg'"> 
                  <a th:text="${detail.writerId}" class="user-name">유저아이디</a> 
                     <a class="date" th:text="${#calendars.format(detail.regDate,'yyy-MM-dd')}">날짜</a>
                     
                      <div class="edit" th:if="${detail.memberId == member.id}">
                     <a th:href="@{edit(id=${detail.id})}" href="edit?id=${detail.id}">수정</a>
                  </div>
                  
                  <div class="del" th:if="${detail.memberId == member.id}">
                     <a th:href="@{del(id=${detail.id})}"
                       onclick="if(!confirm('삭제하시겠습니까?')) return false;">삭제</a>
                  </div>
               </div>               

               <!-- <a class="onelineId" th:text="${detail.id}">게시글아이디</a> -->
               <div class="content-text">
                  <textarea class="text" rows="20" cols="40" readonly th:href="@{detail(id=${detail.id})}" th:text="${detail.content}">내용</textarea>
               </div>
   
               
               
               <div class="review-attr">
               </div>
            
            
            <!--------------------------------------- 댓글 출력란------------------------------- -->
           <div th:replace="feed/oneline/comment::comment"></div>
           
           
           <!--form to reg comments -->
           <div class="container">        
			<form id="commentForm" action="/feed/oneline/detail" method="post">
				<input type="hidden" name="onelineId" th:value="${detail.id}">
				<br> <br>
				<div>
					<div class ="leave-message">
						<span><strong>Leave a comment</strong></span> <span id="cCnt"></span>
					</div>		
					<div class="line"></div>	
							
			<div>	
                <span class="box">
					<textarea id="commentBox" class="txt" style="width: 100%" rows="3" cols="30"
							name="content" placeholder="댓글을 입력하세요"></textarea>
                    <div>
						<input type="submit" class="button" value="저장">
					</div>
                </span>
        	</div>
						<!--  <table class="table">
							<tr>
								<td><textarea id="commentBox" style="width: 100%" rows="3" cols="30"
										name="content" placeholder="댓글을 입력하세요"></textarea> <br>
									<div>
										<input type="submit" value="저장">
									</div></td>
							</tr>
						</table>-->
					
				</div>
			</form>
		</div><!-- container -->
            
         <!--------------------------------------- 댓글 출력란------------------------------- -->
            <!--  <div class="comment-box" th:each="c:${clist}">
             
             <div class="line-comment"></div>
             
               <div class="profile-comment" >
                  <img class="profile-image" th:src="@{/upload/profile/basic.jpg}" th:if="${c.image}=='basic.jpg'">
                  <img class="profile-image-comment" th:src="@{'/upload/profile/'+${c.memberId} +'/' +${c.image} }" th:if="${c.image}!='basic.jpg'"> 
                  <a class="user-name-c" th:text="${c.writerId}">로그인아이디</a> 
                  <a class="date-c" th:text="${#calendars.format(c.regDate,'a hh:mm')}">날짜</a>
                  
                  <div class="edit" th:if="${c.memberId == member.id}">
                        <a>수정</a>
                  </div>
                  
                  <div class="del" th:if="${c.memberId == member.id}">
                        <a th:href="@{cdel(id=${c.id})}"
                          onclick="if(!confirm('삭제하시겠습니까?')) return false;">삭제</a>
                  </div>
               </div>
                  <div class="content-text-comment">
                  <a th:text="${c.content}">댓글내용</a>                        
                  </div>   
               
               
                </div>
                
                </div> -->
               
               <!-- ------------------댓글입력---------------------------------------------- -->
               
           <!-- <form action="CommentReg" method="post">
            <input type="hidden" name="id" th:value="${detail.id}">
               <div class="review-btn-group">
               </div>
               <div class="comment-box">
                  <textarea rows="3" class=txt  name="comment" placeholder="여러분의 댓글을 남겨주세요."></textarea>
                     <input type="submit" value="확인" id="btn">
               </div>
               </form> -->
            
         </article>
      </div>




   </div>

</main>
</html>