<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/feed/onelineReg.css" type="text/css" rel="stylesheet">
</head>
<body>

	<main id="wrapper" layout:fragment="main">



		<form action="edit" method="post" id="main">
		<input type="hidden" name="id" th:value="${Oneline.id}">
			<div class="content">

					<textarea th:text="${Oneline.content}" class=txt name="content"></textarea>


					<button type="submit" class="button">
               <span>확인</span>
            </button>

			
			</div>

		</form>



	</main>

</body>
</html>