<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
<meta charset="UTF-8">
<title>한줄일기</title>
<link href="/css/feed/onelineList.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/js/infinite/infiniteScrollWith.js"></script>
 <script src="/js/infinite/documentInfiniteScrollWith.js"></script>
<script>

	window.addEventListener("load",()=>{
		let containerClass = ".container";
		let query = "";
		let requestUrl = "/api/diary/oneline";
		
		const days = ['SUN','MON','TUE','WED','THU','FRI','SAT'];
		 function returningHTML(json) {
	        	let html = "";
	        	for(n of json){
	        		console.log(n);
	        		let regDate = new Date(n.regDate);
	        		let year = regDate.getFullYear();
	        		let month = regDate.getMonth()+1;
	        		let date = regDate.getDate();
	        		let dayName = days[regDate.getDay()];
					console.log(year);
					console.log(month);
					console.log(date);
					console.log(dayName);
					let count = 0;
					let open = "https://image.flaticon.com/icons/png/128/880/880779.png";
					let close = "https://image.flaticon.com/icons/png/128/450/450349.png";
					let pubIcon = document.querySelector('.pubIcon');
					
						
	        		if(n.commentCount == null? 0 :count =n.commentCount);
	        		
	        		let src = null;
		        	if(n.pub == 1){
		        		src = open;
		        			
		        	}else{
		        		src = close;
		        	}
		        	
		        	/* -------------프로필조건-------------------------- */
		        	let img2;	    	
		        	let basic = "/upload/profile/basic.jpg";
		        	let profile = "/upload/profile/"+n.memberId+"/"+n.image;
		        	
		        	if(n.image == "basic.jpg"){
		        		img2 = basic;
		        	}else{
		        		img2 = profile;
		        	}
		        	
		        	let img = JSON.stringify(img2);
		       
		        	
		       
	        		
	        		console.log(regDate.type);
	        		
	        		
	        		/* --------------------수정 삭제--------------- */
	        	
	        		
	        		
	        		
	        		
	        		/*---------------한줄일기-------------------*/	
	        		
	        		
	        		
	        		/*----------------반복문 구간------------------------------*/ 
	        		html += `<div>
	        			<article class="box">
	    				<div class="content">
	    					<div class="profile">   	    					
	    								
	    						<img class="profile-image" src=${img}>
	    					
	    							<a class="user-name">${n.writerId}</a> 
	    							<a class="date">${n.regDate}</a>
	    							
	    					</div>


	    					<div class="content-text">
	    						<a href='detail?id=${n.id}'>${n.content}</a>
	    					</div>

	    					<div class="review-attr">
	    						<span>댓글 ${count}</span>
	    					</div>
	    					<hr>

	    					<div class="onelineId">
	    						<a>${n.id}</a>
	    					</div>

	    				</div>
	    			</article>
	    		</div>`;
	        	}
	            
	            return html;
	        };
	        documentInfiniteScrollWith(requestUrl, containerClass,returningHTML,query, "#main");
	        
	});
</script>
</head>
<main id="wrapper" layout:fragment="main">

	


	<div class="btn-box">
      <a href="reg"> <img class="reg-img"
         src="/images/oneline/addBtn.png">
      </a>
   </div>

<div id="main">


<section style="overflow: scroll;" class="open-lecture-content">
	<div class="link-item">
      <a class="oneline-link" href="/feed/oneline/list">한줄일기</a>
      <a class="pub-link" href="/feed/publicdiary/list?f=1">공개일기</a>
      </div>
        <div class="container">
        </div>
        </section>
  </div>
        
        
<!-----------------------------------한줄일기----------------------------------------------->  
	<!-- <div class="btn-box">
		<a href="reg"> <img class="reg-img"
			src="/images/oneline/addBtn.png">
		</a>
	</div>

	<div id="main">

		<div class="pub">
			<a href="/feed/publicdiary/list?f=1"> <img class="pub-img"
				src="/images/oneline/book_read_icon-icons.com_49930.png">
			</a>
		</div>


	<div class="content-box">
		<div th:each="n:${list}">
			<article class="box">
				<div class="content">
					<div class="profile">
						<img class="profile-image" th:src="@{/upload/profile/basic.jpg}"
							th:if="${n.image}=='basic.jpg'"> <img class="profile-image"
							th:src="@{'/upload/profile/' +${n.memberId} +'/'  +${n.image}   }"
							th:if="${n.image}!='basic.jpg'"> <a class="user-name"
							th:text="${n.writerId}">로그인아이디</a> <a class="date"
							th:text="${#calendars.format(n.regDate,'yyy-MM-dd')}">날짜</a>


						<div class="edit" th:if="${n.memberId == member.id}">

							<a th:href="@{edit(id=${n.id})}" href="edit?id=${n.id}">수정</a>


						</div>
						<div class="del" th:if="${n.memberId == member.id}">
							<a th:href="@{del(id=${n.id})}"
								onclick="if(!confirm('삭제하시겠습니까?')) return false;">삭제</a>
						</div>
					</div>


					<div class="content-text">
						<a th:href="@{detail(id=${n.id})}" th:text="${n.content}">게시글
							내용</a>
					</div>

					<div class="review-attr">
						<span>좋아요 0</span> <span th:text="'댓글'+${n.count}">댓글 0</span>
					</div>
					<hr>

					<div class="onelineId">
						<a th:text="${n.id}">게시글아이디</a>
					</div>

				</div>
			</article>
		</div>
	</div>

	</div> -->
<!----------------------------------------------------------------------------------------->

</main>



</html>