<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="/inc/layout">

<head>
<meta charset="UTF-8">
<title>Oneul-한줄일기</title>
<link href="/css/feed/onelineReg.css" type="text/css" rel="stylesheet">
<script src='/js/feed/oneline/reg.js'></script>
</head>
<body>

<main id="wrapper"  layout:fragment="main">


<div id="main"> 
<div class="cancel">
		<a href="/feed/oneline/list"> <img class="cancel-img"
			src="/images/oneline/free-icon-left-arrow-633660.png">
		</a>
	</div>

   <form action="reg" method="post" id="main">
      <div class="content">
            <textarea class=txt name="content"></textarea>
            

 	<button type="button" class="button" onclick="submitBtnClick()">
        <span>확인</span>
   </button>
            
      </div>

   </form>

   </div>

</main>

</body>
</html>