<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="/inc/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/feed/onelineReg.css" type="text/css" rel="stylesheet">
</head>
<body>

<main id="wrapper"  layout:fragment="main">


   
   <form action="reg" method="post" id="main">

      <div class="content">
      <!-- <a th:text="${list.writerId}"></a> -->
            <textarea class=txt name="content"></textarea>
                  <!-- <td th:text="${notice.writerId}">newlec</td> -->
      <!-- <input type="hidden" name="uname" th:value="${member.name}"/> -->


            <button type="submit" class="btn">
               <span>확인</span>
            </button>
            
      </div>

   </form>

   

</main>

</body>
</html>